Repository eciis/web, pull requests merged in 2018-09, with the labels that each got.

#1235 Create initial setup of service worker
  .gitignore
  frontend/app.js
  frontend/auth/authService.js
  frontend/auth/login.html
  frontend/auth/loginController.js
  frontend/frontend.yaml
  frontend/images/icons/cis-64x64.png
  frontend/index.html
  frontend/manifest.json
  frontend/sw.js
  frontend/test/karma.conf.js
  frontend/test/package-lock.json
  frontend/utils/messageService.js
Labels: feature, frontend

#1236 Main toolbar responsiveness
  frontend/images/logo-responsive.png
  frontend/main/main.css
  frontend/main/main.html
  frontend/main/mainController.js
  frontend/styles/custom.css
Labels: Design, bug, frontend

#1237 Fix upload images and pdf
  frontend/imageUpload/imageService.js
  frontend/pdfUpload/pdfService.js
  frontend/test/specs/imageUpload/imageServiceSpec.js
Labels: bug, frontend

#1244 updating angularfire lib link
  frontend/index.html
  landing/index.html
  support/index.html
Labels: bug, frontend

#1238 Responsive events timeline
  frontend/event/event.css
  frontend/event/event.html
  frontend/event/event_details.html
  frontend/event/event_dialog.html
  frontend/index.html
Labels: Design, frontend

#1249 Fixed Class CSS
  frontend/user/config-profile.css
  frontend/user/config_profile.html
Labels: Design, bug

#1253 Removed old version caches
  ecis
  frontend/sw.js
Labels: bug, frontend

#1246 Update firebase package
  frontend/index.html
Labels: Refact, frontend
