Repository eciis/web, pull requests merged in 2018-11, with the labels that each got.

#1293 Create notifications list component
  frontend/index.html
  frontend/notification/notificationDirective.js
  frontend/notification/notificationList.component.js
  frontend/notification/notifications.html
  frontend/notification/notifications_list.css
  frontend/notification/notifications_list.html
  frontend/notification/notifications_page.html
  frontend/notification/notifications_type.constant.js
  frontend/styles/custom.css
  frontend/test/specs/notification/notificationControllerSpec.js
  frontend/test/specs/notification/notificationListComponentSpec.js
Labels: enhancement

#1295 Confirm email page
  frontend/app.js
  frontend/auth/authService.js
  frontend/auth/emailVerificationController.js
  frontend/auth/email_verification.html
  frontend/auth/login.html
  frontend/auth/signup.css
  frontend/auth/signup.html
  frontend/index.html
  frontend/styles/custom.css
  support/auth/authService.js
Labels: Design, frontend

#1296 Survey mobile
  frontend/post/create_post.css
  frontend/post/postDirective.js
  frontend/post/save_post_mobile.html
  frontend/survey/save_survey_mobile.html
  frontend/survey/survey.css
  frontend/survey/surveyDirective.js
Labels: Design, frontend

#1298 Fix not found css
  frontend/index.html
Labels: bug, frontend

#1297 Fix post disabled buttons
  frontend/post/pdf_view.css
  frontend/post/save_post_mobile.html
Labels: enhancement

#1292 Change layout of post comment
  frontend/comment/comment.component.js
  frontend/comment/comment.css
  frontend/comment/comment.html
  frontend/post/postDetailsDirective.js
  frontend/post/post_details.html
Labels: enhancement, frontend

#1300 Redesign login page
  frontend/auth/login.css
  frontend/auth/login.html
  frontend/index.html
  frontend/styles/custom.css
Labels: Design, enhancement, frontend

#1299 Refact notifications directive
  frontend/app.js
  frontend/index.html
  frontend/main/main.html
  frontend/main/mainController.js
  frontend/notification/notificationButton.component.js
  frontend/notification/notificationController.js
  frontend/notification/notificationService.js
  frontend/notification/notification_button.css
  frontend/notification/notifications_button.html
  frontend/test/specs/main/mainControllerSpec.js
  frontend/test/specs/notification/notificationControllerSpec.js
  frontend/test/specs/notification/notificationServiceSpec.js
  frontend/utils/NotificationListenerService.js
Labels: enhancement

#1302 Move unread notifications to service
  frontend/notification/notificationController.js
  frontend/notification/notificationService.js
  frontend/test/specs/notification/notificationControllerSpec.js
  frontend/test/specs/notification/notificationServiceSpec.js
  frontend/test/specs/utils/utilsSpec.js
  frontend/utils/utils.js
Labels: bug

#1301 Refact notifications directive
  frontend/app.js
  frontend/index.html
  frontend/main/main.html
  frontend/main/mainController.js
  frontend/notification/notificationButton.component.js
  frontend/notification/notificationController.js
  frontend/notification/notificationDirective.js
  frontend/notification/notificationList.component.js
  frontend/notification/notificationService.js
  frontend/notification/notification_button.css
  frontend/notification/notifications.html
  frontend/notification/notifications_button.html
  frontend/notification/notifications_list.css
  frontend/notification/notifications_list.html
  frontend/notification/notifications_page.html
  frontend/notification/notifications_type.constant.js
  frontend/styles/custom.css
  frontend/test/specs/home/homeControllerSpec.js
  frontend/test/specs/main/mainControllerSpec.js
  frontend/test/specs/notification/notificationControllerSpec.js
  frontend/test/specs/notification/notificationListComponentSpec.js
  frontend/test/specs/notification/notificationServiceSpec.js
  frontend/test/specs/utils/utilsSpec.js
  frontend/utils/NotificationListenerService.js
  frontend/utils/utils.js
Labels: enhancement

#1294 Improve posts array update
  frontend/app.js
  frontend/event/event.html
  frontend/event/eventController.js
  frontend/event/eventDetailsDirective.js
  frontend/event/eventPageController.js
  frontend/event/event_page.html
  frontend/home/home.html
  frontend/home/homeController.js
  frontend/home/post_dialog.html
  frontend/index.html
  frontend/institution/institutionController.js
  frontend/institution/institution_events.html
  frontend/institution/timeline_inst.html
  frontend/post/postDetailsDirective.js
  frontend/post/postDirective.js
  frontend/post/postEventsConstants.js
  frontend/post/postService.js
  frontend/post/post_details.html
  frontend/post/postsFactory.js
  frontend/post/save_post.html
  frontend/post/sharePostController.js
  frontend/post/share_post_dialog.html
  frontend/post/timeline.html
  frontend/post/timelineDirective.js
  frontend/survey/surveyDetailsDirective.js
  frontend/survey/surveyDirective.js
  frontend/test/specs/event/eventControllerSpec.js
  frontend/test/specs/event/eventPageControllerSpec.js
  frontend/test/specs/home/homeControllerSpec.js
  frontend/test/specs/institution/institutionControllerSpec.js
  frontend/test/specs/post/postServiceSpec.js
  frontend/test/specs/post/postsFactorySpec.js
  frontend/test/specs/post/sharePostControllerSpec.js
  frontend/test/specs/post/timelineDirectiveSpec.js
Labels: enhancement, frontend

#1307 Modified logic to request push notification permission
  frontend/auth/authService.js
  frontend/notification/pushNotificationService.js
  frontend/test/specs/notification/pushNotificationServiceSpec.js
Labels: bug, frontend

#1309 Initializa cloud datastore emulator in ecis script
  ecis
Labels: backend, enhancement, infrastructure

#1312 Create option to run with datastore emulator
  ecis
Labels: enhancement, infrastructure

#1308 Redesign search page for mobiles
  frontend/app.js
  frontend/index.html
  frontend/search/search.css
  frontend/search/searchController.js
  frontend/search/search_dialog.html
  frontend/search/search_mobile.html
  frontend/test/specs/search/searchControllerSpec.js
Labels: Design, frontend

#1315 Fix notification's icon
  frontend/notification/notifications_list.css
Labels: bug, frontend

#1314 Fix edit post dialog
  frontend/home/post_dialog.html
  frontend/post/save_post.html
  frontend/styles/custom.css
Labels: bug, frontend

#1318 Redesign notification mobile page
  frontend/app.js
  frontend/index.html
  frontend/notification/notificationController.js
  frontend/notification/notificationList.component.js
  frontend/notification/notification_list_mobile.css
  frontend/notification/notifications_list_mobile.html
  frontend/notification/notifications_page.html
  frontend/test/karma.conf.js
  frontend/test/specs/utils/utilsSpec.js
  frontend/utils/utils.js
Labels: Design, enhancement, frontend

#1319 Fix notification action
  frontend/notification/notifications_list_mobile.html
Labels: bug, frontend

#1317 Redesign event page in mobile device
  frontend/app.js
  frontend/event/event.css
  frontend/event/eventDetailsDirective.js
  frontend/event/event_details_small_page.html
  frontend/notification/notificationList.component.js
  frontend/test/specs/event/eventDetailsControllerSpec.js
  frontend/test/specs/utils/utilsSpec.js
  frontend/utils/utils.js
Labels: enhancement, frontend

#1316 Create bottom navbar
  frontend/home/home.html
  frontend/home/homeController.js
  frontend/index.html
  frontend/main/hideTopNavbar.js
  frontend/main/main.css
  frontend/main/main.html
  frontend/main/mainController.js
  frontend/styles/custom.css
  frontend/test/specs/main/mainControllerSpec.js
  frontend/user/left_nav.html
Labels: Design, feature

#1322 Fix edit button in event page
  frontend/event/event.css
  frontend/event/event_details_small_page.html
Labels: bug, frontend

#1313 Redesign user inactive page
  frontend/app.js
  frontend/index.html
  frontend/institution/institution.js
  frontend/styles/custom.css
  frontend/test/specs/notification/notificationControllerSpec.js
  frontend/test/specs/user/userInactiveControllerSpec.js
  frontend/user/searchInstitution/searchInstitution.component.js
  frontend/user/searchInstitution/search_institution.css
  frontend/user/searchInstitution/search_institution.html
  frontend/user/userInactive/userInactive.controller.js
  frontend/user/userInactive/user_inactive.css
  frontend/user/userInactive/user_inactive.html
  frontend/user/userInactiveController.js
  frontend/user/userRequestForm/userRequestForm.controller.js
  frontend/user/userRequestForm/user_request_form.html
  frontend/user/user_inactive.css
  frontend/user/user_inactive.html
Labels: Design, enhancement, frontend

#1321 Fix view of survey
  frontend/styles/custom.css
  frontend/survey/survey.css
  frontend/survey/survey_details.html
Labels: Design, bug, frontend

#1325 Revert "Fix view of survey"
  frontend/styles/custom.css
  frontend/survey/survey.css
  frontend/survey/survey_details.html
Labels: bug

#1323 Fix removed post layout in small pages
  frontend/index.html
  frontend/post/deletedPost.component.js
  frontend/post/deleted_post.html
  frontend/post/post_details.css
  frontend/post/post_details.html
Labels: bug, frontend

#1324 Fix login icons
  frontend/auth/login.css
  frontend/auth/login.html
Labels: enhancement, frontend

#1330 Fix mobile notification background color
  frontend/notification/notification_list_mobile.css
  frontend/notification/notifications_list_mobile.html
Labels: enhancement, frontend

#1326 Fix survey small displays
  frontend/styles/custom.css
  frontend/survey/survey.css
  frontend/survey/survey_details.html
Labels: Design, bug

#1332 Fix missing loading bar in post creation
  frontend/post/create_post.css
  frontend/post/postDirective.js
  frontend/post/save_post.html
Labels: enhancement, frontend

#1334 added pedro and bruno users
  backend/admin.py
Labels: infrastructure

#1333 Fix create post dialog
  frontend/home/post_dialog.html
  frontend/post/create_post.css
  frontend/post/save_post_mobile.html
  frontend/styles/custom.css
Labels: bug, frontend

#1331 fix bug sideNav
  frontend/app.js
  frontend/auth/loginController.js
  frontend/error/errorController.js
  frontend/event/eventController.js
  frontend/event/eventDetailsDirective.js
  frontend/event/eventDialogController.js
  frontend/event/eventPageController.js
  frontend/home/homeController.js
  frontend/index.html
  frontend/institution/base_institution_page.html
  frontend/institution/configInstDirective.js
  frontend/institution/institutionController.js
  frontend/institution/management_institution_page.html
  frontend/institution/removeInstController.js
  frontend/invites/inviteInstitutionController.js
  frontend/invites/newInviteController.js
  frontend/invites/redirectInviteInstitutionController.js
  frontend/main/main.html
  frontend/main/mainController.js
  frontend/notification/notificationController.js
  frontend/notification/notificationList.component.js
  frontend/post/postDetailsDirective.js
  frontend/post/postDirective.js
  frontend/post/postPageController.js
  frontend/styles/custom.css
  frontend/survey/surveyDirective.js
  frontend/test/specs/auth/configProfileControllerSpec.js
  frontend/test/specs/auth/loginControllerSpec.js
  frontend/test/specs/institution/institutionControllerSpec.js
  frontend/test/specs/institution/removeInstControllerSpec.js
  frontend/test/specs/invites/newInviteControllerSpec.js
  frontend/test/specs/invites/redirectInviteInstitutionControllerSpec.js
  frontend/test/specs/main/mainControllerSpec.js
  frontend/test/specs/notification/notificationListComponentSpec.js
  frontend/test/specs/user/profileControllerSpec.js
  frontend/test/specs/utils/submitFormListenerServiceSpec.js
  frontend/user/configProfileController.js
  frontend/user/left_nav.html
  frontend/user/profileController.js
  frontend/utils/statesConstants.js
  frontend/utils/utilsService.js
Labels: bug, frontend

#1336 Change font size of button
  frontend/notification/notification_button.css
  frontend/notification/notifications_button.html
Labels: Design

#1328 Tests user inactive
  frontend/test/karma.conf.js
  frontend/test/specs/user/searchInstitutionControllerSpec.js
  frontend/test/specs/user/userInactiveControllerSpec.js
  frontend/test/specs/user/userRequestFormControllerSpec.js
  frontend/user/searchInstitution/searchInstitution.component.js
  frontend/user/userInactive/user_inactive.html
  frontend/user/userRequestForm/userRequestForm.controller.js
Labels: frontend, test

#1343 Fix refresh user token
  frontend/auth/authService.js
  frontend/test/specs/auth/authServiceSpec.js
Labels: bug, frontend
