Repository eciis/web, pull requests merged in 2018-12, with the labels that each got.

#1304 Redesign events
  backend/handlers/event_collection_handler.py
  backend/models/event.py
  backend/test/event_handlers_tests/event_collection_handler_test.py
  frontend/app.js
  frontend/event/event.css
  frontend/event/eventController.js
  frontend/event/eventService.js
  frontend/event/events.html
  frontend/event/events_mobile.html
  frontend/home/homeController.js
  frontend/test/specs/event/eventControllerSpec.js
  frontend/test/specs/event/eventServiceSpec.js
  frontend/test/specs/home/homeControllerSpec.js
  frontend/utils/months.json
  frontend/utils/utils.js
Labels: Design, backend, frontend

#1338 State constants replace
  frontend/app.js
  frontend/auth/authService.js
  frontend/auth/loginController.js
  frontend/auth/resetPasswordController.js
  frontend/comment/comment.component.js
  frontend/event/eventDetailsDirective.js
  frontend/event/eventPageController.js
  frontend/home/homeController.js
  frontend/institution/configInstDirective.js
  frontend/institution/institutionCardDirective.js
  frontend/institution/institutionLinksController.js
  frontend/institution/managementMembersController.js
  frontend/institution/removeInstDialog.html
  frontend/invites/inviteInstHierarchieController.js
  frontend/invites/inviteInstitutionController.js
  frontend/invites/newInviteController.js
  frontend/invites/redirectInviteInstitutionController.js
  frontend/invites/suggestInstitutionController.js
  frontend/main/main.html
  frontend/main/mainController.js
  frontend/post/postDetailsDirective.js
  frontend/post/sharePostController.js
  frontend/requests/requestProcessingController.js
  frontend/search/searchController.js
  frontend/survey/surveyDetailsDirective.js
  frontend/test/specs/comment/commentControllerSpec.js
  frontend/test/specs/event/eventPageControllerSpec.js
  frontend/test/specs/home/homeControllerSpec.js
  frontend/test/specs/institution/configInstDirectiveSpec.js
  frontend/test/specs/institution/institutionCardControllerSpec.js
  frontend/test/specs/institution/institutionControllerSpec.js
  frontend/test/specs/invites/newInviteControllerSpec.js
  frontend/test/specs/invites/redirectInviteInstitutionControllerSpec.js
  frontend/test/specs/notification/notificationListComponentSpec.js
  frontend/test/specs/post/postDetailsControllerSpec.js
  frontend/test/specs/post/sharePostControllerSpec.js
  frontend/user/configProfileController.js
  frontend/user/userInactiveController.js
Labels: enhancement, frontend

#1350 Merge Responsive
  backend/handlers/event_collection_handler.py
  backend/models/event.py
  backend/test/event_handlers_tests/event_collection_handler_test.py
  frontend/app.js
  frontend/auth/login.css
  frontend/auth/login.html
  frontend/event/event.css
  frontend/event/eventController.js
  frontend/event/eventService.js
  frontend/event/event_details_small_page.html
  frontend/event/events.html
  frontend/event/events_mobile.html
  frontend/home/homeController.js
  frontend/home/post_dialog.html
  frontend/index.html
  frontend/institution/institution.js
  frontend/notification/notification_button.css
  frontend/notification/notification_list_mobile.css
  frontend/notification/notifications_button.html
  frontend/notification/notifications_list_mobile.html
  frontend/post/create_post.css
  frontend/post/deletedPost.component.js
  frontend/post/deleted_post.html
  frontend/post/postDirective.js
  frontend/post/post_details.css
  frontend/post/post_details.html
  frontend/post/save_post.html
  frontend/post/save_post_mobile.html
  frontend/styles/custom.css
  frontend/survey/survey.css
  frontend/test/karma.conf.js
  frontend/test/specs/event/eventControllerSpec.js
  frontend/test/specs/event/eventServiceSpec.js
  frontend/test/specs/home/homeControllerSpec.js
  frontend/test/specs/notification/notificationControllerSpec.js
  frontend/test/specs/user/searchInstitutionControllerSpec.js
  frontend/test/specs/user/userInactiveControllerSpec.js
  frontend/test/specs/user/userRequestFormControllerSpec.js
  frontend/user/searchInstitution/searchInstitution.component.js
  frontend/user/searchInstitution/search_institution.css
  frontend/user/searchInstitution/search_institution.html
  frontend/user/userInactive/userInactive.controller.js
  frontend/user/userInactive/user_inactive.css
  frontend/user/userInactive/user_inactive.html
  frontend/user/userInactiveController.js
  frontend/user/userRequestForm/userRequestForm.controller.js
  frontend/user/userRequestForm/user_request_form.html
  frontend/user/user_inactive.css
  frontend/user/user_inactive.html
  frontend/utils/months.json
  frontend/utils/statesConstants.js
  frontend/utils/utils.js
Labels: frontend, merge

#1352 first try fix event query
  backend/handlers/event_collection_handler.py
Labels: frontend, mobile

#1353 Fix login view
  frontend/auth/login.css
  frontend/auth/login.html
  frontend/index.html
  frontend/styles/custom.css
Labels: bug, frontend

#1329 Fix view invite user
  frontend/index.html
  frontend/invites/new_invite.css
  frontend/invites/new_invite_page.html
  frontend/styles/custom.css
Labels: Design, bug, frontend

#1349 Fix remove inst dialog
  frontend/institution/management_institution.css
  frontend/institution/removeInstController.js
  frontend/institution/removeInstDialog.html
  frontend/test/specs/institution/removeInstControllerSpec.js
Labels: bug, frontend

#1337 Fixed poll view when phone keypad is activated
  frontend/index.html
  frontend/post/postDirective.js
  frontend/post/save_post.html
  frontend/post/save_post_mobile.html
  frontend/survey/save_survey_mobile.html
  frontend/survey/survey.component.js
  frontend/survey/survey.css
  frontend/test/specs/post/postDirectiveSpec.js
  frontend/test/specs/survey/surveyComponentSpec.js
Labels: Design, bug

#1361 Merge Responsive e dev
  backend/handlers/institution_collection_handler.py
  frontend/app.js
  frontend/auth/login.css
  frontend/auth/login.html
  frontend/index.html
  frontend/institution/allInstitutionsController.js
  frontend/institution/federal_state_acronym.js
  frontend/institution/institutionService.js
  frontend/institution/management_institution.css
  frontend/institution/registeredInstitution.component.js
  frontend/institution/registered_institution.css
  frontend/institution/registered_institution.html
  frontend/institution/registered_institutions_mobile.css
  frontend/institution/registered_institutions_mobile.html
  frontend/institution/removeInstController.js
  frontend/institution/removeInstDialog.html
  frontend/invites/new_invite.css
  frontend/invites/new_invite_page.html
  frontend/notification/notificationList.component.js
  frontend/post/postDirective.js
  frontend/post/save_post.html
  frontend/post/save_post_mobile.html
  frontend/styles/custom.css
  frontend/survey/save_survey_mobile.html
  frontend/survey/survey.component.js
  frontend/survey/survey.css
  frontend/test/specs/institution/allInstitutionsControllerSpec.js
  frontend/test/specs/institution/registeredInstitutionsControllerSpec.js
  frontend/test/specs/institution/removeInstControllerSpec.js
  frontend/test/specs/post/postDirectiveSpec.js
  frontend/test/specs/survey/surveyComponentSpec.js
Labels: merge

#1360 Focus comment input
  frontend/app.js
  frontend/post/postDetailsDirective.js
  frontend/post/post_details.html
  frontend/test/specs/post/postDetailsControllerSpec.js
Labels: Design, enhancement, frontend

#1362 Fix height of video youtube in event page
  frontend/event/event.css
  frontend/event/event_details.html
Labels: Design, bug

#1356 Redesigning the create of event on mobile screen
  frontend/app.js
  frontend/event/create_event.html
  frontend/event/event.css
  frontend/event/eventController.js
  frontend/event/eventDetailsDirective.js
  frontend/event/eventDialogController.js
  frontend/event/event_dialog.html
  frontend/index.html
  frontend/main/main.html
  frontend/main/mainController.js
  frontend/test/specs/event/eventControllerSpec.js
  frontend/test/specs/event/eventDetailsControllerSpec.js
  frontend/test/specs/event/eventDialogCtrlSpec.js
  frontend/utils/screenSizesConstants.js
  frontend/utils/statesConstants.js
Labels: Design, frontend

#1371 Merge responsive - dev
  frontend/app.js
  frontend/event/create_event.html
  frontend/event/event.css
  frontend/event/eventController.js
  frontend/event/eventDetailsDirective.js
  frontend/event/eventDialogController.js
  frontend/event/event_details.html
  frontend/event/event_dialog.html
  frontend/index.html
  frontend/main/main.html
  frontend/main/mainController.js
  frontend/notification/notification_list_mobile.css
  frontend/notification/notifications_list_mobile.html
  frontend/post/postDetailsDirective.js
  frontend/post/post_details.html
  frontend/test/specs/event/eventControllerSpec.js
  frontend/test/specs/event/eventDetailsControllerSpec.js
  frontend/test/specs/event/eventDialogCtrlSpec.js
  frontend/test/specs/post/postDetailsControllerSpec.js
  frontend/utils/screenSizesConstants.js
  frontend/utils/statesConstants.js
Labels: merge
