Repository eciis/web, pull requests merged in 2018-07, with the labels that each got.

#1204 Send notification to refresh user when accept request
  backend/custom_exceptions/__init__.py
  backend/custom_exceptions/queueException.py
  backend/handlers/institution_children_request_handler.py
  backend/handlers/institution_parent_request_handler.py
  backend/models/request_institution_children.py
  backend/test/model_test/request_institution_children_test.py
  backend/test/util_modules_tests/__init__.py
  backend/test/util_modules_tests/notification_test.py
  backend/test/util_modules_tests/notifications_queue_manager_test.py
  backend/util/__init__.py
  backend/util/notification.py
  backend/util/notifications_queue_manager.py
  backend/worker.py
  frontend/notification/notificationDirective.js
  frontend/notification/notificationMessageCreatorService.js
  frontend/test/specs/notification/notificationControllerSpec.js
  frontend/user/userService.js
  queue.yaml
Labels: backend, enhancement

#1206 Create test timeline controller
  frontend/post/timelineDirective.js
  frontend/test/specs/post/timelineDirectiveSpec.js
Labels: frontend, test

#1202 User can choice resolve the invitation later.
  frontend/invites/newInviteController.js
  frontend/invites/new_invite_page.html
  frontend/test/specs/invites/newInviteControllerSpec.js
  frontend/test/specs/post/timelineDirectiveSpec.js
  frontend/test/specs/user/userSpec.js
  frontend/user/user.js
Labels: feature, frontend

#1210 Add missing docstrings to util's functions
  frontend/utils/utils.js
Labels: enhancement, frontend

#1213 Send notification of accept transfer admin invite
  backend/handlers/invite_user_adm_handler.py
  backend/models/invite_user_adm.py
  backend/test/util_modules_tests/notification_test.py
  backend/test/util_modules_tests/notifications_queue_manager_test.py
  backend/util/notification.py
  backend/util/notifications_queue_manager.py
  backend/worker.py
  frontend/notification/notificationMessageCreatorService.js
  frontend/test/specs/notification/notificationControllerSpec.js
  frontend/user/userService.js
Labels: backend, enhancement

#1214 Fix answer later thougth notification.
  frontend/invites/newInviteController.js
  frontend/test/specs/invites/newInviteControllerSpec.js
Labels: bug, frontend

#1216 Fix worker aux functions test
  backend/models/user.py
  backend/test/worker_handlers_tests/worker_aux_methods_test.py
  backend/worker.py
Labels: backend, bug, test

#1215 Fix show button edit
  frontend/post/postDetailsDirective.js
  frontend/test/specs/post/postDetailsControllerSpec.js
Labels: bug, frontend

#1218 Fix send email to institution members
  backend/worker.py
Labels: backend, bug

#1217 Test pdf view directive
  frontend/test/specs/pdf/pdfControllerSpec.js
Labels: frontend, test

#1220 Rename request handler to user request
  backend/handlers/__init__.py
  backend/handlers/institution_children_request_collection_handler.py
  backend/handlers/user_request_handler.py
  backend/main.py
  backend/test/request_handlers_test/user_request_handler_test.py
Labels: Refact, backend

#1219 Refact Institution Hierarchy Handler
  backend/handlers/__init__.py
  backend/handlers/institution_children_handler.py
  backend/handlers/institution_hierarchy_handler.py
  backend/handlers/institution_parent_handler.py
  backend/main.py
  backend/models/institution.py
  backend/test/institution_handlers_tests/institution_children_handler_test.py
  backend/test/institution_handlers_tests/institution_hierarchy_handler_test.py
  backend/test/institution_handlers_tests/institution_parent_handler_test.py
  backend/test/model_test/institution_test.py
  backend/test/worker_handlers_tests/remove_admin_permissions_hierarchy_test.py
  backend/util/notification.py
  backend/util/notifications_queue_manager.py
  backend/worker.py
  frontend/institution/institutionService.js
  frontend/test/specs/notification/notificationControllerSpec.js
  frontend/user/userService.js
Labels: Refact, backend, enhancement

#1221 Remove unnecessary method remove_link in institution model
  backend/handlers/institution_children_handler.py
  backend/handlers/institution_parent_handler.py
  backend/models/institution.py
  backend/test/model_test/institution_test.py
Labels: Refact, backend

#1222 Change HttpService to $http in UserService
  support/auth/userService.js
Labels: bug, frontend, support

#1211 Refresh user's permissions in creation of new institutions
  backend/handlers/institution_children_request_handler.py
  backend/handlers/institution_handler.py
  backend/handlers/institution_parent_request_handler.py
  backend/handlers/institution_request_handler.py
  backend/handlers/invite_institution_handler.py
  backend/models/invite_institution.py
  backend/models/invite_institution_children.py
  backend/models/invite_institution_parent.py
  backend/models/user.py
  backend/test/institution_handlers_tests/institution_handler_test.py
  backend/test/model_test/invite_institution_test.py
  backend/util/notification.py
  backend/worker.py
  frontend/index.html
  frontend/institution/configInstDirective.js
  frontend/institution/created_hierarchical_institution_dialog.html
  frontend/institution/hierarchicalInstitutionDialogController.js
  frontend/notification/notificationDirective.js
  frontend/test/specs/notification/notificationControllerSpec.js
  frontend/user/userService.js
Labels: backend, enhancement, frontend

#1223 Fix worker test
  backend/test/worker_handlers_tests/worker_aux_methods_test.py
Labels: backend, enhancement, test

#1224 Fix can't open institution request dialog
  frontend/invites/invite.js
  frontend/requests/requestDialogService.js
Labels: bug, frontend

#1226 Refact hierarchy of request institution parent and children
  backend/models/request.py
  backend/models/request_institution.py
  backend/models/request_institution_children.py
  backend/models/request_institution_parent.py
  backend/test/model_test/request_institution_children_test.py
  backend/test/model_test/request_institution_parent_test.py
Labels: Refact, backend, enhancement

#1227 Fix show dialog to accept request institution
  frontend/requests/requestDialogService.js
Labels: bug, frontend

#1225 Remaking link between semi confirmed link
  backend/handlers/institution_parent_request_collection_handler.py
  backend/test/request_handlers_test/institution_parent_request_collection_handler_test.py
  backend/test/worker_handlers_tests/worker_aux_methods_test.py
  backend/util/notification.py
  frontend/notification/notificationDirective.js
  frontend/notification/notificationMessageCreatorService.js
  frontend/test/specs/notification/notificationControllerSpec.js
  frontend/user/userService.js
Labels: backend, feature, frontend

#1228 Send notification after send user invites
  backend/handlers/invite_user_collection_handler.py
  backend/models/invite_user.py
  backend/test/invite_handlers_tests/invite_user_collection_handler_test.py
  backend/test/model_test/invite_user_test.py
  backend/test/worker_handlers_tests/send_invite_handler_test.py
  backend/util/notification.py
  backend/worker.py
  frontend/notification/notificationDirective.js
  frontend/notification/notificationMessageCreatorService.js
Labels: backend, feature, frontend

#1229 Adding new logo of health ministry
  backend/templates/accept_institution_link_email.html
  backend/templates/accepted_institution_request_email.html
  backend/templates/accepted_request_user_email.html
  backend/templates/inactive_user_email.html
  backend/templates/invite_institution_email.html
  backend/templates/invite_user.html
  backend/templates/reject_institutional_link.html
  backend/templates/rejected_institution_request_email.html
  backend/templates/rejected_request_user_email.html
  backend/templates/remove_member_email.html
  backend/templates/removed_institutional_link.html
  backend/templates/request_institution_email.html
  backend/templates/request_link_email.html
  backend/templates/request_user_email.html
  backend/templates/transfer_admin_email.html
  landing/images/sus.png
  landing/main.html
Labels: Design, frontend

#1231 Fix concurrence in the transfer admin queue and remove admin permissions queue
  backend/worker.py
Labels: backend, bug

#1232 Fix answer later button
  frontend/invites/new_invite_page.html
Labels: bug, frontend

#1233 Fix send invite user adm
  backend/handlers/invite_user_collection_handler.py
  backend/test/invite_handlers_tests/invite_user_collection_handler_test.py
  backend/test/worker_handlers_tests/send_invite_handler_test.py
  backend/worker.py
Labels: backend, bug

#1234 Fix duplicate creation of user invite
  backend/handlers/invite_user_collection_handler.py
Labels: backend, bug
