Repository eciis/web, pull requests merged in 2018-03, with the labels that each got.

#849 Request user confirmation to leave the Institution editing page without saving changes.
  frontend/institution/configInstDirective.js
  frontend/institution/submit_form.html
  frontend/utils/submitFormListenerService.js
Labels: feature, frontend

#852 Fix multiple clicks on institution form submit button
  frontend/institution/configInstDirective.js
  frontend/institution/submit_form.html
Labels: bug, frontend

#835 Redesign of survey with deadline expired
  frontend/post/postDetailsDirective.js
  frontend/post/post_details.html
  frontend/styles/custom.css
  frontend/survey/survey_details.html
Labels: Design, frontend

#851 Refact reply comment notification's message
  backend/handlers/reply_comment_handler.py
  backend/test/reply_comment_handler_test.py
  frontend/notification/notificationDirective.js
  frontend/notification/notificationService.js
Labels: Refact, backend, frontend

#850 Send notification when the admin delete a post
  backend/handlers/post_handler.py
  backend/test/post_handler_test.py
  frontend/notification/notificationDirective.js
  frontend/notification/notificationService.js
Labels: backend, frontend

#845 Request user confirmation to leave the profile editing page without saving changes.
  frontend/auth/config_profile.html
Labels: feature, frontend

#856 Configuration to use Firebase on development environment
  .gitignore
  PULL_REQUEST_TEMPLATE.md
  backend/firebase.py
  ecis
  ecis-firebase-identity.json
  frontend/index.html
  setup_google_credential.sh
  support/index.html
Labels: feature, infrastructure

#855 Redesing page of invite members.
  frontend/institution/managementMembersController.js
  frontend/institution/management_members.html
  frontend/styles/custom.css
Labels: Design, feature, frontend

#857 Fix show photo input in create institution form
  frontend/institution/create_inst_form.html
Labels: bug, frontend

#853 Invite members from CSV file
  frontend/institution/managementMembersController.js
  frontend/institution/management_members.html
  frontend/institution/select_emails.html
  frontend/test/specs/selectEmailsControllerSpec.js
  frontend/utils/utils.js
Labels: feature, frontend

#848 New page to show all institutions
  backend/handlers/institution_collection_handler.py
  backend/test/institution_collection_handler_test.py
  frontend/app.js
  frontend/home/homeController.js
  frontend/index.html
  frontend/institution/allInstitutionsController.js
  frontend/institution/institution.js
  frontend/institution/institutionCardDirective.js
  frontend/institution/institutionController.js
  frontend/institution/institutionService.js
  frontend/institution/institution_card.html
  frontend/institution/institutions.html
  frontend/post/postDetailsDirective.js
  frontend/post/post_details.html
  frontend/test/specs/configInstDirectiveSpec.js
  frontend/test/specs/institutionControllerSpec.js
  frontend/test/specs/userSpec.js
  frontend/user/left_nav.html
  frontend/user/user.js
  frontend/utils/utils.js
Labels: Design, feature, frontend

#858 Create button that clear the search filters
  frontend/search/search.html
  frontend/search/searchController.js
Labels: feature, frontend

#854 Fix send notification in post sharing
  backend/handlers/post_collection_handler.py
  backend/test/post_collection_handler_test.py
  backend/test/user_timeline_handler_test.py
  backend/worker.py
  frontend/notification/notificationDirective.js
  frontend/notification/notificationService.js
Labels: backend, bug, frontend

#860 Fix script to deploy on default version
  ecis
Labels: bug, infrastructure

#859 Fix shared survey post when reload the post
  frontend/post/postDetailsDirective.js
  frontend/post/post_details.html
  frontend/styles/custom.css
  frontend/survey/surveyDetailsDirective.js
  frontend/survey/survey_details.html
Labels: bug, frontend

#862 Fix post notification with unknown key
  backend/worker.py
Labels: backend, bug

#863 Alert the user of new version available
  .gitignore
  backend/utils.py
  ecis
  frontend/app.js
  frontend/auth/authService.js
  frontend/home/home.html
  frontend/main/main.html
  frontend/main/mainController.js
  support/auth/authService.js
Labels: feature, frontend, infrastructure

#861 Fix institutions page layout
  frontend/institution/institutions.html
Labels: bug, frontend

#865 Fix button name in edit institution form
  frontend/institution/submit_form.html
Labels: frontend

#867 Fix sender_name in invite member
  frontend/institution/managementMembersController.js
Labels: bug, frontend

#864 Fix request invitation button's color
  frontend/requests/request_invitation_dialog.html
Labels: Design, bug, frontend

#866 Fix the accept invite button
  frontend/invites/accept_invite.html
Labels: bug, frontend

#868 Search registered institutions
  frontend/institution/allInstitutionsController.js
  frontend/institution/institutions.html
  frontend/utils/utils.js
Labels: feature, frontend

#869 Fix invite status verification
  backend/handlers/institution_request_handler.py
  backend/handlers/invite_handler.py
  backend/test/institution_request_handler_test.py
  backend/test/invite_handler_test.py
Labels: backend, bug

#870 Fix the layout of a closed shared survey
  frontend/post/postDetailsDirective.js
  frontend/post/post_details.html
  frontend/test/specs/postDetailsControllerSpec.js
Labels: Design, bug, frontend

#871 Fix query handler to find only active institutions
  backend/handlers/institution_collection_handler.py
  backend/test/institution_collection_handler_test.py
Labels: backend, bug

#873 Fix post layout in small screens
  frontend/post/post_details.html
  frontend/styles/custom.css
Labels: Design, bug, frontend

#874 Hide delete button text of post in small screens
  frontend/post/post_details.html
Labels: Design, enhancement, frontend

#875 Script to parse the github PRs page and format to generate release
  ecis
  parse_github_prs.py
Labels: feature, infrastructure

#876 Fix patch of institution
  frontend/institution/configInstDirective.js
Labels: bug, frontend

#872 Transfer admin permissions to another member of institution
  backend/handlers/invite_collection_handler.py
  backend/handlers/invite_handler.py
  backend/handlers/invite_user_adm_handler.py
  backend/main.py
  backend/models/factory_invites.py
  backend/models/institution.py
  backend/models/invite.py
  backend/models/invite_user.py
  backend/models/invite_user_adm.py
  backend/models/user.py
  backend/permissions.py
  backend/test/invite_user_adm_handler_test.py
  backend/test/mocks.py
  backend/test/model_test/invite_user_adm_test.py
  backend/utils.py
  backend/worker.py
Labels: backend, feature

#877 Fix border of admin photo
  frontend/institution/members.html
Labels: bug, frontend

#878 Request invitation button on institution card
  backend/handlers/institution_collection_handler.py
  backend/models/institution.py
  frontend/institution/institutionCardDirective.js
  frontend/institution/institution_card.html
  frontend/requests/requestInvitationController.js
Labels: feature, frontend

#879 Show all notifications in notification page
  frontend/notification/notificationDirective.js
  frontend/notification/notificationService.js
  frontend/notification/notifications.html
  frontend/notification/notifications_page.html
  frontend/test/specs/NotificationControllerSpec.js
Labels: feature, frontend

#881 Institution cover picture
  backend/models/institution.py
  frontend/auth/configProfileController.js
  frontend/imageUpload/cropImageController.js
  frontend/imageUpload/cropImageService.js
  frontend/imageUpload/crop_image.html
  frontend/institution/base_institution_page.html
  frontend/institution/institutionController.js
  frontend/libs/ng-img-crop.min.css
  frontend/libs/ng-img-crop.min.js
  frontend/styles/custom.css
  frontend/test/specs/institutionControllerSpec.js
Labels: feature, frontend

#883 fix bug on institution page design
  frontend/institution/base_institution_page.html
  frontend/institution/institutionController.js
Labels: Design, bug, frontend

#885 All institutions cover
  backend/handlers/institution_collection_handler.py
  backend/handlers/institution_handler.py
  frontend/institution/institutionCardDirective.js
  frontend/institution/institution_card.html
Labels: feature, frontend

#880 Fix word break of post title
  frontend/post/postDetailsDirective.js
  frontend/post/post_details.html
  frontend/styles/custom.css
  frontend/utils/utils.js
Labels: bug, frontend

#887 Fix update of institution
  frontend/institution/configInstDirective.js
Labels: bug, frontend

#882 Fix inconsistency of comment and reply comment
  backend/handlers/post_comment_handler.py
  backend/models/post.py
  frontend/post/postDetailsDirective.js
Labels: bug, frontend

#888 Fix confirm dialog when changes profile institution
  frontend/auth/configProfileController.js
Labels: bug, frontend

#889 Add loading circle while the institution cover is upload
  frontend/institution/base_institution_page.html
  frontend/institution/institutionController.js
Labels: feature, frontend

#886 Fix remove institution from the user
  frontend/auth/configProfileController.js
Labels: bug, frontend

#890 Fix background image of an event when using PNG format
  frontend/event/event_details.html
Labels: Design, bug, frontend

#891 Fix inconsistency in percentage of the survey
  frontend/post/post_details.html
  frontend/survey/surveyDetailsDirective.js
  frontend/test/specs/surveyDetailsDirectiveSpec.js
Labels: bug, frontend

#894 Fix management members cards height
  frontend/institution/management_members.html
Labels: bug, frontend

#895 Removing calculateHeight from the system
  frontend/institution/managementMembersController.js
  frontend/invites/inviteInstitutionController.js
  frontend/invites/invite_institution.html
  frontend/test/specs/UtilsSpec.js
  frontend/utils/utils.js
  support/auth/utils.js
Labels: bug, frontend

#896 Fix edit event error
  frontend/event/eventController.js
Labels: bug, frontend

#897 Fix remove account after delete an institution
  backend/models/user.py
  backend/test/institution_handler_test.py
  backend/test/institution_member_handler_test.py
  backend/test/remove_institution_handler_test.py
  backend/worker.py
  frontend/auth/configProfileController.js
  frontend/test/specs/userSpec.js
  frontend/user/user.js
Labels: backend, bug, frontend

#893 Fix the invite by csv of user already invited
  frontend/institution/managementMembersController.js
  frontend/test/specs/selectEmailsControllerSpec.js
Labels: bug, frontend

#898 Fix Home Controller Test
  frontend/test/specs/homeControllerSpec.js
Labels: bug, frontend, test

#892 Create the administrator transfer page
  backend/handlers/invite_collection_handler.py
  backend/models/invite_user_adm.py
  backend/test/invite_user_adm_handler_test.py
  backend/test/model_test/invite_user_adm_test.py
  backend/worker.py
  frontend/institution/managementMembersController.js
  frontend/institution/management_members.html
  frontend/institution/transfer_admin_dialog.html
  frontend/invites/inviteService.js
  frontend/notification/notificationDirective.js
  frontend/notification/notificationService.js
  frontend/styles/custom.css
  frontend/test/specs/managementMembersControllerSpec.js
  frontend/test/specs/transferAdminControllerSpec.js
  frontend/user/user.js
Labels: feature, frontend

#900 Request to be a member of CIS
  frontend/auth/login.html
  frontend/auth/signup.html
  frontend/test/specs/userInactiveControllerSpec.js
  frontend/user/userInactiveController.js
  frontend/user/user_inactive.html
Labels: feature, frontend

#901 Fix console error in read of property 'cover_photo'
  frontend/institution/institutionController.js
  frontend/test/specs/homeControllerSpec.js
Labels: bug, frontend

#902 Change the institution cover when the page is scrolled
  frontend/institution/base_institution_page.html
  frontend/institution/followers.html
  frontend/institution/institutionController.js
  frontend/institution/members.html
  frontend/institution/registration_data.html
  frontend/institution/timeline_inst.html
  frontend/styles/custom.css
Labels: Design, enhancement, frontend

#903 Add shadow to institution card cover
  frontend/institution/institution_card.html
  frontend/styles/custom.css
Labels: Design, enhancement, frontend

#904 Add shadow effect to institution image and cover, at institution page
  frontend/institution/base_institution_page.html
Labels: Design, enhancement, frontend

#906 Fix bug on institution cards height
  frontend/institution/institution_card.html
Labels: Design, bug, frontend

#899 Fix send several emails
  frontend/institution/managementMembersController.js
  frontend/institution/management_members.html
  frontend/test/specs/managementMembersControllerSpec.js
  frontend/test/specs/selectEmailsControllerSpec.js
Labels: bug, frontend

#907 Fix institution card header
  frontend/institution/institutionCardDirective.js
  frontend/institution/institution_card.html
Labels: Design, bug, frontend

#908 Fix institution image border at floating cover
  frontend/styles/custom.css
Labels: Design, bug, frontend

#909 Fix institution image border at following institutions
  frontend/styles/custom.css
Labels: Design, bug, frontend

#912 Request to be a member and admin of new institution
  backend/handlers/institution_request_handler.py
  frontend/institution/configInstDirective.js
  frontend/institution/create_inst_form.html
  frontend/invites/invite_institution.html
  frontend/main/mainController.js
  frontend/requests/requestInvitationService.js
  frontend/test/specs/mainControllerSpec.js
  frontend/user/left_nav.html
  frontend/user/userInactiveController.js
  frontend/user/user_inactive.html
Labels: backend, feature, frontend

#913 Show message when click message
  frontend/requests/requestInstitutionProcessingController.js
  frontend/requests/requestProcessingController.js
  frontend/requests/request_processing.html
Labels: Design, enhancement, frontend

#914 Fix resend invite
  backend/handlers/invite_collection_handler.py
  backend/test/invite_collection_handler_test.py
  frontend/institution/managementMembersController.js
  frontend/test/specs/managementMembersControllerSpec.js
Labels: bug, frontend

#918 Hiding event steps' text
  frontend/event/event_dialog.html
Labels: Design, frontend

#917 Fix remove institution in configProfile
  frontend/auth/config_profile.html
Labels: bug, frontend

#910 Create a dialog box to accept or reject the invitation to become an institution administrator
  backend/handlers/institution_handler.py
  backend/handlers/invite_user_adm_handler.py
  backend/main.py
  backend/models/invite_user_adm.py
  backend/test/invite_user_adm_handler_test.py
  backend/test/model_test/invite_user_adm_test.py
  backend/worker.py
  frontend/index.html
  frontend/institution/managementMembersController.js
  frontend/institution/management_members.html
  frontend/institution/transfer_admin_dialog.html
  frontend/invites/inviteService.js
  frontend/invites/processInviteUserAdmController.js
  frontend/invites/process_invite_user_adm.html
  frontend/notification/notificationDirective.js
  frontend/notification/notificationService.js
  frontend/test/specs/managementMembersControllerSpec.js
  frontend/test/specs/processInviteUserAdmControllerSpec.js
Labels: feature, frontend

#920 Fix event's end_time when the start_time is not defined
  frontend/event/event_dialog.html
Labels: bug, frontend

#921 Fix accept request to create institution
  backend/handlers/institution_request_handler.py
  backend/test/institution_request_handler_test.py
Labels: backend, bug

#923 Fix accept request email link
  backend/models/request_institution.py
  backend/models/request_user.py
Labels: backend, bug

#922 Show message of required input in create inst form
  frontend/institution/create_inst_form.html
Labels: enhancement, frontend

#925 Hide manage admins tab
  frontend/institution/management_members.html
Labels: enhancement, frontend

#924 Fix floating cover in institution page
  frontend/institution/base_institution_page.html
  frontend/institution/institutionController.js
Labels: bug, frontend

#927 Fix change institution in mainCtrl
  frontend/main/mainController.js
  frontend/test/specs/mainControllerSpec.js
Labels: bug, frontend

#930 Fix send invit user adm
  backend/models/invite_user_adm.py
  backend/test/model_test/invite_user_adm_test.py
  frontend/institution/managementMembersController.js
  frontend/institution/management_members.html
  frontend/invites/processInviteUserAdmController.js
  frontend/test/specs/processInviteUserAdmControllerSpec.js
  frontend/test/specs/transferAdminControllerSpec.js
Labels: backend, bug, frontend

#928 Fix request institution dialog
  frontend/requests/requestInstitutionProcessingController.js
  frontend/requests/request_institution_processing.html
Labels: bug, frontend

#926 Fix left nav on institution page
  frontend/institution/base_institution_page.html
  frontend/institution/institutionController.js
  frontend/styles/custom.css
Labels: enhancement, frontend

#929 Fix create institution
  frontend/index.html
  frontend/institution/address.js
  frontend/institution/configInstDirective.js
  frontend/test/specs/configInstDirectiveSpec.js
Labels: bug, frontend

#933 When the user selects another user to transfer the administration, can't select clicking in the name
  frontend/institution/transfer_admin_dialog.html
Labels: enhancement, frontend

#931 Improving the deleted_post notification
  backend/handlers/post_handler.py
  backend/service_messages.py
  backend/worker.py
  frontend/notification/notificationService.js
  frontend/post/post.js
  frontend/post/timelineDirective.js
Labels: backend, enhancement, frontend

#932 Translate some messages
  frontend/utils/messageService.js
Labels: enhancement, frontend

#934 Fix the display of address in request of institution modal
  frontend/requests/request_institution_processing.html
Labels: bug, frontend

#935 Edit event after it has ended
  backend/handlers/event_handler.py
  backend/models/event.py
  backend/test/event_handler_test.py
  backend/test/model_test/event_test.py
  frontend/event/event.js
  frontend/event/eventController.js
  frontend/event/event_dialog.html
  frontend/test/specs/eventDialogCtrlSpec.js
  frontend/utils/messageService.js
Labels: backend, feature, frontend

#936 Fix remove member notification action
  frontend/notification/notificationDirective.js
  frontend/test/specs/userSpec.js
  frontend/user/user.js
Labels: bug, frontend

#937 Standardize card titles in management page
  frontend/institution/management_members.html
Labels: enhancement, frontend

#938 Inserting custom-scrollbar in choose institution list
  frontend/user/left_nav.html
Labels: enhancement, frontend

#940 Fix bug on new invite form shaking
  frontend/invites/new_invite_page.html
Labels: Design, bug, frontend

#939 Fix user is not allowed to send invite message
  frontend/utils/messageService.js
Labels: bug, frontend

#941 Fix event date inconsistency
  frontend/event/eventDetailsDirective.js
  frontend/event/event_details.html
  frontend/test/specs/eventDetailsControllerSpec.js
Labels: bug, frontend

#944 Fix create institution form
  frontend/institution/create_inst_form.html
Labels: bug, frontend

#942 Fix institutional_email
  backend/handlers/institution_collection_handler.py
  backend/models/invite.py
  backend/test/model_test/invite_institution_test.py
  backend/test/model_test/invite_test.py
  backend/test/model_test/invite_user_adm_test.py
  backend/test/model_test/invite_user_test.py
  frontend/institution/configInstDirective.js
  frontend/institution/create_inst_form.html
  frontend/institution/registration_data.html
  frontend/institution/removeInstDialog.html
  frontend/institution/submit_form.html
  frontend/invites/accept_invite.html
  frontend/invites/new_invite_page.html
  frontend/invites/process_invite_user_adm.html
Labels: backend, bug, frontend

#943 Fix the reload on create_inst_form page in case of invite to create institution
  frontend/institution/configInstDirective.js
  frontend/test/specs/configInstDirectiveSpec.js
Labels: bug, frontend
