Repository eciis/web, pull requests merged in 2018-04, with the labels that each got.

#947 Refact make user on utils.py
  backend/handlers/invite_handler.py
  backend/handlers/invite_user_adm_handler.py
  backend/handlers/user_handler.py
  backend/utils.py
Labels: Refact, backend, enhancement

#948 Create tests for user handler
  backend/models/institution.py
  backend/models/user.py
  backend/test/user_handler_test.py
Labels: backend, enhancement, test

#949 Fix the overflow of event image in modal of share event
  frontend/post/share_post_dialog.html
Labels: bug, frontend

#950 Fix pagination of post in institution page
  frontend/institution/institutionController.js
  frontend/test/specs/institutionControllerSpec.js
Labels: bug, frontend

#951 Fix position of report button
  frontend/main/main.html
Labels: bug, frontend

#952 Improving tests to user model
  backend/models/user.py
  backend/test/model_test/user_test.py
Labels: backend, enhancement, test

#946 Show message that invite was used.
  frontend/requests/requestProcessingController.js
  frontend/requests/request_processing.html
Labels: enhancement, frontend

#954 Fix Institution Controller when use the content object and these not exist.
  frontend/institution/institutionController.js
Labels: bug, frontend

#955 Fix email of new admin when transferring the administration of an institution
  backend/models/institution.py
Labels: backend, bug

#956 Fix delete event
  backend/handlers/event_handler.py
  backend/test/event_handler_test.py
  frontend/event/eventDetailsDirective.js
  frontend/event/event_details.html
Labels: backend, bug, frontend

#957 Fix the position of invite modal
  frontend/invites/new_invite_page.html
Labels: bug, frontend

#958 Fix bug on floating cover and on left menu, at medium size screens
  frontend/institution/base_institution_page.html
  frontend/institution/institutionController.js
  frontend/styles/custom.css
Labels: Design, bug, frontend

#959 Fix null event on event page
  frontend/event/eventDetailsDirective.js
Labels: bug, frontend

#953 Fix show message of empty posts in institution page
  backend/handlers/institution_timeline_handler.py
  backend/search_module/search_institution.py
  backend/test/institution_timeline_handler_test.py
Labels: bug, frontend

#962 Fix get super institution
  backend/handlers/request_handler.py
  backend/models/request_institution.py
  backend/test/institution_request_collection_handler_test.py
  backend/utils.py
Labels: backend, bug

#963 Fix edit user profile
  frontend/auth/configProfileController.js
Labels: bug, frontend

#965 Fix change institution profile color
  frontend/home/homeController.js
  support/auth/utils.js
Labels: bug, frontend

#964 Fix null event in event page
  frontend/event/eventDetailsDirective.js
Labels: bug, frontend

#966 Fix redirect the user to another state with the notification
  frontend/notification/notificationDirective.js
Labels: bug, frontend

#968 Fix delete event
  frontend/event/eventDetailsDirective.js
  frontend/event/event_page.html
  frontend/test/specs/eventDetailsControllerSpec.js
Labels: bug, frontend

#967 Fix deleted event accessible by URL
  backend/handlers/event_handler.py
  backend/test/event_handler_test.py
  frontend/utils/messageService.js
Labels: backend, bug

#969 Fix share event in institution's page
  frontend/app.js
  frontend/institution/institutionController.js
  frontend/test/specs/institutionControllerSpec.js
Labels: bug, frontend

#970 Fix tutorial appearing in invite page
  frontend/invites/newInviteController.js
Labels: bug, frontend

#972 Redesign the modal of request institution
  frontend/requests/requestInstitutionProcessingController.js
  frontend/requests/request_institution_processing.html
Labels: Design, enhancement, frontend

#973 Refact admin reset
  backend/admin.py
Labels: backend, enhancement, infrastructure

#971 Fix goToDifferentInstitution function
  backend/handlers/institution_handler.py
  backend/worker.py
  frontend/notification/notificationDirective.js
  frontend/test/specs/userSpec.js
  frontend/user/user.js
Labels: bug, frontend

#974 Create json patch observer recorder
  frontend/app.js
  frontend/auth/configProfileController.js
  frontend/index.html
  frontend/utils/observerRecorderService.js
Labels: enhancement, frontend

#976 Fix missing error function in removeInst
  frontend/institution/institutionController.js
  frontend/utils/messageService.js
Labels: bug, frontend

#977 Fix create-institution-form's steps bar's show condition
  frontend/institution/create_inst_form.html
Labels: bug, frontend

#978 Fix accept member invite card
  frontend/invites/new_invite_page.html
Labels: bug, frontend

#979 Fix requested invitations in invite institution's page
  backend/handlers/institution_request_handler.py
  frontend/invites/inviteInstitutionController.js
  frontend/invites/invite_institution.html
  frontend/test/specs/inviteInstitutionControllerSpec.js
Labels: backend, bug, frontend

#980 Fix profile dialog height and width
  frontend/user/profile.html
Labels: Design, bug, frontend

#982 Centralize event month name
  frontend/event/event_details.html
Labels: Design, enhancement, frontend

#981 Fix the number of address in create of event
  frontend/event/eventController.js
  frontend/event/eventDetailsDirective.js
  frontend/event/event_details.html
  frontend/event/event_dialog.html
  frontend/styles/custom.css
Labels: bug, frontend

#983 Use ObserverRecorderService for generate jsonpatch observer
  frontend/event/eventController.js
  frontend/institution/configInstDirective.js
  frontend/invites/newInviteController.js
  frontend/post/postDirective.js
Labels: enhancement, frontend

#984 Increase the limit of post characters
  frontend/post/postDetailsDirective.js
Labels: bug, frontend, wontfix

#985 Fix notification when the author share yourself event
  backend/handlers/post_collection_handler.py
Labels: backend, bug

#986 Fix long url bigger than limit of text in post
  frontend/post/postDetailsDirective.js
  frontend/utils/utils.js
Labels: bug, frontend

#989 Fixing the parentLinkStatus method
  backend/handlers/institution_handler.py
  frontend/invites/inviteInstHierarchieController.js
Labels: bug, frontend

#990 Fix the align of next events in mozilla firefox
  frontend/home/home.html
  frontend/styles/custom.css
Labels: bug, frontend

#992 Fix change color when click delete member notification
  frontend/home/homeController.js
  frontend/institution/management_institution_page.html
  frontend/notification/notificationDirective.js
  frontend/test/specs/colorPickerControllerSpec.js
  frontend/user/left_nav.html
  frontend/user/user.js
Labels: bug, frontend

#988 Add ndb.transactional in add comment method of post
  backend/handlers/like_handler.py
  backend/handlers/post_comment_handler.py
  backend/models/post.py
  backend/test/like_comment_handler_test.py
  backend/test/like_reply_handler_test.py
  backend/test/reply_comment_handler_test.py
  frontend/post/postDetailsDirective.js
Labels: backend, enhancement, frontend

#993 Test invite institution hierarchie controller
  frontend/invites/inviteInstHierarchieController.js
  frontend/test/inviteInstHierarchieControllerSpec.js
Labels: enhancement, frontend, test

#994 Don't unfollow institution when remove link between member and institution.
  backend/models/institution.py
  backend/models/user.py
  backend/test/user_institutions_handler_test.py
  frontend/test/specs/userSpec.js
  frontend/user/user.js
Labels: backend, enhancement, frontend

#997 Fix notification of accept invite intitution
  backend/handlers/institution_handler.py
  backend/models/invite_institution_children.py
  backend/models/invite_institution_parent.py
  frontend/notification/notificationDirective.js
  frontend/notification/notificationService.js
  frontend/notification/notifications_page.html
Labels: backend, bug, frontend

#998 Change layout of invite ehierarchie existing institution model
  frontend/invites/existing_institutions.html
Labels: enhancement, frontend

#996 Changing the way that the showButtonDelete of post works
  frontend/home/homeController.js
  frontend/post/postDetailsDirective.js
  frontend/post/postDirective.js
  frontend/test/specs/postDetailsControllerSpec.js
  frontend/test/specs/postDirectiveSpec.js
  frontend/test/specs/userSpec.js
  frontend/user/user.js
Labels: bug, frontend

#1002 Add home button in institution's management page
  frontend/institution/management_institution_page.html
Labels: enhancement, frontend

#1001 Improving inst's name in management page
  frontend/institution/management_institution_page.html
Labels: enhancement, frontend

#1004 Check event's actions with permissions
  backend/handlers/event_collection_handler.py
  backend/handlers/event_handler.py
  backend/test/event_collection_handler_test.py
  backend/test/event_handler_test.py
  frontend/event/eventController.js
  frontend/event/eventDetailsDirective.js
  frontend/test/specs/eventDetailsControllerSpec.js
  frontend/test/specs/eventDialogCtrlSpec.js
Labels: backend, enhancement, frontend

#1006 Fix event handler's patch method
  backend/handlers/event_handler.py
  backend/test/event_handler_test.py
Labels: backend, bug

#1005 Show accept request dialog when click in request on manage member page
  frontend/institution/managementMembersController.js
  frontend/institution/management_members.html
  frontend/requests/requestProcessingController.js
  frontend/requests/request_processing.html
  frontend/test/specs/managementMembersControllerSpec.js
Labels: enhancement, frontend

#999 Send notification when you reject the request to become a member of an institution.
  backend/handlers/request_handler.py
  backend/models/invite.py
  backend/models/request_user.py
  backend/test/request_handler_test.py
  frontend/notification/notificationDirective.js
  frontend/notification/notificationService.js
Labels: feature, frontend

#1000 Creating the page to show institutional links of an institution
  backend/handlers/institution_handler.py
  frontend/app.js
  frontend/institution/base_institution_page.html
  frontend/institution/institutionController.js
  frontend/institution/institutional_links.html
  frontend/test/specs/institutionControllerSpec.js
  frontend/test/specs/institutionLinksControllerSpec.js
Labels: backend, feature, frontend

#1007 Fix remove link between institution in firefox
  frontend/invites/inviteInstHierarchieController.js
  frontend/invites/invite_institution_hierarchie.html
  frontend/test/inviteInstHierarchieControllerSpec.js
Labels: bug, frontend

#1008 Fix notification page
  frontend/notification/notifications_page.html
Labels: bug, frontend

#1010 Fix invite members passing empty emails
  frontend/institution/managementMembersController.js
  frontend/test/specs/managementMembersControllerSpec.js
Labels: bug, frontend

#1009 Fix shared post notification
  backend/handlers/post_collection_handler.py
  backend/test/post_collection_handler_test.py
  backend/worker.py
Labels: backend, bug

#1011 Fix delete specific institution button for children.
  frontend/invites/inviteInstHierarchieController.js
  frontend/invites/invite_institution_hierarchie.html
  frontend/test/inviteInstHierarchieControllerSpec.js
Labels: bug, frontend

#1015 Fix share event notification
  backend/handlers/post_collection_handler.py
  backend/test/post_collection_handler_test.py
Labels: backend, bug

#1014 Fix like post when deleted post
  backend/handlers/like_handler.py
  backend/test/like_post_handler_test.py
Labels: backend, bug

#1019 Refact more than one controller per file
  frontend/auth/configProfileController.js
  frontend/auth/editProfileController.js
  frontend/auth/loginController.js
  frontend/auth/resetPasswordController.js
  frontend/event/eventController.js
  frontend/event/eventDialogController.js
  frontend/home/colorPickerController.js
  frontend/home/homeController.js
  frontend/index.html
  frontend/institution/institutionController.js
  frontend/institution/institutionLinksController.js
  frontend/institution/managementMembersController.js
  frontend/institution/removeInstController.js
  frontend/institution/selectEmailsController.js
  frontend/institution/transferAdminController.js
  frontend/post/commentDirective.js
  frontend/post/postDetailsDirective.js
  frontend/post/sharePostController.js
  frontend/user/profileController.js
  frontend/user/profileService.js
Labels: Refact, enhancement, frontend

#1013 Fix notification of delete post
  backend/handlers/post_handler.py
Labels: backend, bug

#1016 Fix link notification between institutions
  backend/handlers/institution_children_request_handler.py
  backend/handlers/institution_parent_request_handler.py
Labels: bug, frontend

#1017 Moving the institution's removal to the queue.
  backend/handlers/institution_handler.py
  backend/models/institution.py
  backend/test/institution_handler_test.py
  backend/test/remove_institution_handler_test.py
  backend/worker.py
Labels: backend, enhancement

#1021 Fix link's checking between institutions
  backend/models/request.py
  backend/test/model_test/request_institution_test.py
  frontend/invites/suggestInstitutionController.js
Labels: backend, bug, frontend

#1018 Improving hierarchy requests
  backend/handlers/institution_children_request_collection_handler.py
  backend/handlers/institution_children_request_handler.py
  backend/test/institution_children_request_handler_test.py
  frontend/institution/institutionLinksController.js
  frontend/institution/institutional_links.html
  frontend/invites/inviteInstHierarchieController.js
  frontend/invites/invite_institution_hierarchie.html
  frontend/test/inviteInstHierarchieControllerSpec.js
  frontend/test/specs/institutionLinksControllerSpec.js
Labels: backend, enhancement, frontend

#1020 Fix concurrence problem in reply comment.
  backend/handlers/reply_comment_handler.py
  backend/models/post.py
  backend/test/like_reply_handler_test.py
Labels: backend, bug

#1022 Test institution model
  frontend/test/specs/institutionSpec.js
Labels: frontend, test

#1025 Fix variables' name in suggestExistingInstCtrl
  frontend/invites/suggestInstitutionController.js
Labels: bug, frontend

#1012 Fix show message if edit post is fail
  frontend/post/postDirective.js
Labels: bug, frontend

#1026 Refactoring the set_admin function in institution.py and add_institution_admin in user.py
  backend/models/institution.py
  backend/models/user.py
  backend/test/institution_children_collection_request_handler_test.py
  backend/test/institution_handler_test.py
  backend/test/institution_parent_collection_request_handler_test.py
  backend/test/invite_user_adm_handler_test.py
  backend/test/model_test/invite_user_adm_test.py
  backend/test/model_test/user_test.py
  backend/test/user_handler_test.py
Labels: Refact, backend

#1024 Fix add permissions when accept instituion link
  frontend/notification/notificationDirective.js
  frontend/requests/requestProcessingController.js
  frontend/test/specs/requestProcessingControllerSpec.js
Labels: bug, frontend

#1023 Fix remove permissions when a link between two institutions is undone
  backend/models/institution.py
  backend/worker.py
Labels: backend, bug

#1027 Fix institution removal notification process
  backend/handlers/institution_handler.py
  backend/utils.py
  backend/worker.py
  frontend/notification/notificationDirective.js
  frontend/test/specs/userSpec.js
  frontend/user/user.js
Labels: backend, bug, frontend

#1028 Refactoring ways to add members in institution
  backend/handlers/institution_request_handler.py
  backend/models/institution.py
  backend/models/user.py
Labels: Refact, backend

#1031 Fix load-circle in registration-data page
  frontend/institution/registration_data.html
Labels: bug, frontend

#1032 Fix send invite button in invite institution hierarchy
  frontend/invites/inviteInstHierarchieController.js
  frontend/invites/invite_institution_hierarchie.html
Labels: bug, frontend

#1033 Refact handler modules import
  backend/handlers/__init__.py
  backend/handlers/base_handler.py
  backend/handlers/erro_handler.py
  backend/handlers/event_collection_handler.py
  backend/handlers/event_handler.py
  backend/handlers/get_key_handler.py
  backend/handlers/institution_children_request_collection_handler.py
  backend/handlers/institution_children_request_handler.py
  backend/handlers/institution_collection_handler.py
  backend/handlers/institution_events_handler.py
  backend/handlers/institution_followers_handler.py
  backend/handlers/institution_handler.py
  backend/handlers/institution_hierarchy_handler.py
  backend/handlers/institution_members_handler.py
  backend/handlers/institution_parent_request_collection_handler.py
  backend/handlers/institution_parent_request_handler.py
  backend/handlers/institution_request_collection_handler.py
  backend/handlers/institution_request_handler.py
  backend/handlers/institution_timeline_handler.py
  backend/handlers/invite_collection_handler.py
  backend/handlers/invite_handler.py
  backend/handlers/invite_institution_handler.py
  backend/handlers/invite_user_adm_handler.py
  backend/handlers/like_handler.py
  backend/handlers/login_logout_handler.py
  backend/handlers/main_handler.py
  backend/handlers/post_collection_handler.py
  backend/handlers/post_comment_handler.py
  backend/handlers/post_handler.py
  backend/handlers/redirect_handler.py
  backend/handlers/reply_comment_handler.py
  backend/handlers/request_handler.py
  backend/handlers/resend_invite_handler.py
  backend/handlers/search_handler.py
  backend/handlers/subscribe_post_handler.py
  backend/handlers/user_handler.py
  backend/handlers/user_institutions_handler.py
  backend/handlers/user_profile_handler.py
  backend/handlers/user_request_collection_handler.py
  backend/handlers/user_timeline_handler.py
  backend/handlers/vote_handler.py
  backend/main.py
Labels: backend, enhancement
