Repository eciis/web, pull requests merged in 2018-05, with the labels that each got.

#1035 Fix add_permission_to_children method
  backend/models/institution.py
  backend/worker.py
Labels: backend, bug

#1036 Refactoring the uses of assert with 'has_permission' directly to 'check_permission'
  backend/handlers/event_handler.py
  backend/handlers/post_handler.py
  backend/handlers/resend_invite_handler.py
Labels: Refact, backend

#1038 Fix dislike concurrency
  backend/handlers/like_handler.py
Labels: backend, bug

#1037 Create tests for institution model and for RemoveAdminPermissionsInInstitutionHierarchy handler
  backend/models/institution.py
  backend/test/model_test/institution_test.py
  backend/test/remove_admin_permissions_hierarchy_test.py
Labels: backend, enhancement, test

#1039 Improve resolved request dialog
  frontend/index.html
  frontend/invites/invite.js
  frontend/invites/inviteInstHierarchieController.js
  frontend/invites/invite_institution_hierarchie.html
  frontend/notification/notificationDirective.js
  frontend/requests/requestInstitutionProcessingController.js
  frontend/requests/requestInvitationService.js
  frontend/requests/requestProcessingController.js
  frontend/requests/request_institution_processing.html
  frontend/requests/request_processing.html
  frontend/requests/resolved_request_dialog.html
  frontend/test/inviteInstHierarchieControllerSpec.js
  frontend/test/specs/requestInstitutionProcessingControllerSpec.js
  frontend/test/specs/requestProcessingControllerSpec.js
Labels: Design, enhancement, frontend

#1041 Fix remove institution
  backend/models/institution.py
  backend/test/institution_handler_test.py
  backend/test/model_test/institution_test.py
  backend/worker.py
Labels: backend, bug

#1047 Improving card to resolve create institution's requests
  frontend/invites/inviteInstitutionController.js
  frontend/requests/requestProcessingController.js
  frontend/requests/request_institution_processing.html
  frontend/styles/custom.css
  frontend/test/specs/requestProcessingControllerSpec.js
Labels: Design, enhancement, frontend

#1044 Fix get_all_parent_admins
  backend/test/worker_aux_methods_test.py
  backend/worker.py
Labels: backend, bug

#1042 Fix remove admin permissions handler
  backend/handlers/institution_hierarchy_handler.py
  backend/test/remove_admin_permissions_hierarchy_test.py
  backend/worker.py
Labels: backend, bug

#1046 Forbid hierarchical loop
  .gitignore
  backend/handlers/institution_children_request_collection_handler.py
  backend/handlers/institution_parent_request_collection_handler.py
  backend/models/institution.py
  backend/test/institution_children_request_collection_handler_test.py
  backend/test/institution_parent_request_collection_handler_test.py
  backend/test/mocks.py
  backend/test/model_test/institution_test.py
  frontend/invites/inviteInstHierarchieController.js
  frontend/invites/invite_institution_hierarchie.html
  frontend/invites/suggestInstitutionController.js
  frontend/utils/messageService.js
Labels: backend, enhancement

#1045 Refact notifications
  backend/handlers/institution_children_request_handler.py
  backend/handlers/institution_handler.py
  backend/handlers/institution_hierarchy_handler.py
  backend/handlers/institution_members_handler.py
  backend/handlers/institution_parent_request_handler.py
  backend/handlers/invite_user_adm_handler.py
  backend/handlers/like_handler.py
  backend/handlers/post_collection_handler.py
  backend/handlers/post_comment_handler.py
  backend/handlers/post_handler.py
  backend/handlers/reply_comment_handler.py
  backend/handlers/request_handler.py
  backend/models/institution.py
  backend/models/invite.py
  backend/models/invite_institution.py
  backend/models/invite_institution_children.py
  backend/models/invite_institution_parent.py
  backend/models/invite_user.py
  backend/models/invite_user_adm.py
  backend/models/post.py
  backend/models/request.py
  backend/models/request_institution.py
  backend/models/request_institution_children.py
  backend/models/request_institution_parent.py
  backend/models/request_user.py
  backend/service_messages.py
  backend/test/institution_hierarchy_handler_test.py
  backend/test/institution_member_handler_test.py
  backend/test/institution_parent_request_handler_test.py
  backend/test/invite_handler_test.py
  backend/test/like_comment_handler_test.py
  backend/test/like_post_handler_test.py
  backend/test/like_reply_handler_test.py
  backend/test/post_collection_handler_test.py
  backend/test/post_comment_handler_test.py
  backend/test/reply_comment_handler_test.py
  backend/test/request_handler_test.py
  backend/test/service_messages_test.py
  backend/worker.py
  frontend/notification/notificationService.js
  frontend/notification/notifications.html
  frontend/notification/notifications_page.html
Labels: backend, enhancement, frontend

#1049 Improve notification's page view
  frontend/notification/notifications_page.html
  frontend/styles/custom.css
Labels: enhancement, frontend

#1050 Test verify_connection
  backend/models/institution.py
  backend/test/model_test/institution_test.py
Labels: backend, enhancement, test

#1051 Fix invite notifification click when is already read
  frontend/invites/newInviteController.js
  frontend/invites/new_invite_page.html
  frontend/notification/notificationDirective.js
Labels: bug, frontend

#1052 Fix the notification in wrong option of left menu on home page
  frontend/main/mainController.js
  frontend/user/left_nav.html
Labels: bug, frontend

#1053 Refact remove institution link notification
  backend/handlers/institution_hierarchy_handler.py
  backend/test/institution_hierarchy_handler_test.py
  frontend/notification/notificationDirective.js
  frontend/notification/notificationService.js
Labels: backend, enhancement, frontend

#1056 Adding tests to institution.py
  backend/models/institution.py
  backend/test/mocks.py
  backend/test/model_test/institution_test.py
Labels: backend, test

#1054 Accepted institution email
  backend/handlers/institution_request_handler.py
  backend/models/request_institution.py
  backend/send_email_hierarchy/accepted_institution_email_sender.py
  backend/templates/accepted_institution.html
Labels: backend, feature

#1057 Fix request child institution
  backend/handlers/institution_children_request_collection_handler.py
  backend/models/institution.py
  backend/models/request.py
  backend/test/model_test/institution_test.py
  backend/test/model_test/request_institution_test.py
  frontend/institution/institution.js
  frontend/invites/inviteInstHierarchieController.js
  frontend/invites/suggestInstitutionController.js
  frontend/test/specs/institutionSpec.js
  frontend/utils/messageService.js
Labels: backend, bug, frontend

#1058 Extract subject strings
  backend/handlers/institution_members_handler.py
  backend/handlers/user_institutions_handler.py
  backend/models/invite.py
  backend/models/invite_institution.py
  backend/models/invite_user.py
  backend/util/strings_pt_br.py
  backend/worker.py
Labels: backend, enhancement

#1059 Create user request email layout
  backend/models/request_user.py
  backend/send_email_hierarchy/request_user_email_sender.py
  backend/templates/request_user_email.html
  backend/util/strings_pt_br.py
Labels: feature, frontend

#1060 Refact models modules imports
  backend/admin.py
  backend/handlers/institution_children_request_collection_handler.py
  backend/handlers/institution_handler.py
  backend/handlers/institution_parent_request_collection_handler.py
  backend/handlers/invite_collection_handler.py
  backend/handlers/invite_handler.py
  backend/handlers/user_handler.py
  backend/handlers/user_request_collection_handler.py
  backend/models/__init__.py
  backend/models/factory_invites.py
  backend/models/invite.py
  backend/models/invite_institution.py
  backend/models/invite_institution_children.py
  backend/models/invite_institution_parent.py
  backend/models/invite_user.py
  backend/models/request.py
  backend/models/request_institution.py
  backend/models/request_institution_children.py
  backend/models/request_institution_parent.py
  backend/models/request_user.py
  backend/search_module/search_institution.py
  backend/send_email_hierarchy/email_sender.py
  backend/test/institution_children_request_handler_test.py
  backend/test/institution_handler_test.py
  backend/test/institution_parent_request_handler_test.py
  backend/test/institution_request_collection_handler_test.py
  backend/test/invite_collection_handler_test.py
  backend/test/invite_handler_test.py
  backend/test/invite_institution_handler_test.py
  backend/test/mocks.py
  backend/test/model_test/institution_test.py
  backend/test/model_test/invite_institution_test.py
  backend/test/model_test/invite_test.py
  backend/test/model_test/invite_user_test.py
  backend/test/model_test/request_institution_test.py
  backend/test/model_test/request_user_test.py
  backend/test/request_handler_test.py
  backend/test/resend_invite_handler_test.py
  backend/test/user_request_collection_handler_test.py
  backend/worker.py
Labels: backend, enhancement

#1061 Fix the modal to resolve members request
  frontend/institution/managementMembersController.js
  frontend/institution/management_members.html
Labels: bug, frontend

#1062 Create request new institution link email
  backend/models/request_institution_children.py
  backend/models/request_institution_parent.py
  backend/send_email_hierarchy/request_link_email_sender.py
  backend/templates/request_link_email.html
  backend/test/mocks.py
  backend/util/strings_pt_br.py
Labels: backend, feature

#1063 Fix emails' html buttons
  backend/templates/accepted_institution.html
  backend/templates/invite_institution_email.html
  backend/templates/invite_user.html
Labels: backend, bug

#1065 Test invite_institution_children model
  backend/test/model_test/invite_institution_children_test.py
Labels: backend, enhancement, test

#1068 Creating email template to reject institution links
  backend/handlers/institution_children_request_handler.py
  backend/handlers/institution_parent_request_handler.py
  backend/models/request_institution_children.py
  backend/models/request_institution_parent.py
  backend/send_email_hierarchy/request_link_email_sender.py
  backend/templates/reject_institutional_link.html
  backend/util/strings_pt_br.py
Labels: backend, feature, frontend

#1069 Fix background of institution photo
  frontend/institution/base_institution_page.html
Labels: enhancement, frontend

#1071 Fix missing data in institution's page
  frontend/institution/institutionController.js
Labels: bug, frontend

#1072 Fix request_institution's send_email method
  backend/models/request_institution.py
Labels: backend, bug

#1076 Fix admin profile visualization
  frontend/institution/members.html
Labels: bug, frontend

#1073 Fix addChildInst function
  frontend/institution/institution.js
  frontend/invites/invite_institution_hierarchie.html
Labels: bug, frontend

#1080 Remove member email
  backend/handlers/institution_members_handler.py
  backend/send_email_hierarchy/remove_member_email_sender.py
  backend/templates/rejected_request_user_email.html
  backend/templates/remove_member_email.html
  backend/templates/request_user_email.html
  frontend/institution/removeMemberDialog.html
Labels: Design, feature, frontend

#1078 Fix change institution parent
  frontend/requests/requestProcessingController.js
  frontend/requests/request_processing.html
  frontend/test/specs/requestProcessingControllerSpec.js
Labels: bug, frontend

#1077 Refact models modules imports
  backend/admin.py
  backend/handlers/__init__.py
  backend/handlers/institution_children_request_collection_handler.py
  backend/handlers/institution_parent_request_collection_handler.py
  backend/handlers/institution_request_collection_handler.py
  backend/handlers/institution_timeline_handler.py
  backend/handlers/invite_collection_handler.py
  backend/handlers/invite_institution_handler.py
  backend/handlers/like_handler.py
  backend/handlers/post_collection_handler.py
  backend/handlers/post_comment_handler.py
  backend/handlers/post_handler.py
  backend/handlers/reply_comment_handler.py
  backend/handlers/user_request_collection_handler.py
  backend/handlers/user_timeline_handler.py
  backend/models/__init__.py
  backend/models/factory_invites.py
  backend/models/factory_post.py
  backend/models/invite_user_adm.py
  backend/models/post.py
  backend/models/request_institution.py
  backend/models/survey_post.py
  backend/models/timeline.py
  backend/test/institution_request_handler_test.py
  backend/test/invite_user_adm_handler_test.py
  backend/test/like_post_handler_test.py
  backend/test/mocks.py
  backend/test/model_test/invite_user_adm_test.py
  backend/test/model_test/survey_post_test.py
  backend/test/post_collection_handler_test.py
  backend/test/post_comment_handler_test.py
  backend/test/post_handler_test.py
  backend/test/reply_comment_handler_test.py
  backend/test/subscribe_post_handler_test.py
  backend/test/vote_handler_test.py
  backend/worker.py
Labels: backend, enhancement

#1079 Inactive user email
  backend/handlers/institution_members_handler.py
  backend/send_email_hierarchy/remove_member_email_sender.py
  backend/templates/inactive_user_email.html
  backend/util/strings_pt_br.py
Labels: backend, feature

#1081 Refact search modules imports
  backend/handlers/search_handler.py
  backend/models/institution.py
  backend/models/user.py
  backend/search_module/__init__.py
  backend/search_module/search_document.py
  backend/search_module/search_institution.py
  backend/search_module/search_user.py
  backend/test/invite_handler_test.py
  backend/test/resend_invite_handler_test.py
Labels: backend, enhancement

#1082 Refact send email hierarchy modules import
  backend/handlers/institution_hierarchy_handler.py
  backend/handlers/institution_members_handler.py
  backend/handlers/user_institutions_handler.py
  backend/models/invite.py
  backend/models/invite_institution.py
  backend/models/invite_user.py
  backend/models/request_institution.py
  backend/models/request_institution_children.py
  backend/models/request_institution_parent.py
  backend/models/request_user.py
  backend/send_email_hierarchy/__init__.py
  backend/send_email_hierarchy/accepted_institution_email_sender.py
  backend/send_email_hierarchy/email_sender.py
  backend/send_email_hierarchy/invite_institution_email_sender.py
  backend/send_email_hierarchy/invite_user_email_sender.py
  backend/send_email_hierarchy/leave_institution_email_sender.py
  backend/send_email_hierarchy/remove_institution_email_sender.py
  backend/send_email_hierarchy/remove_member_email_sender.py
  backend/send_email_hierarchy/request_link_email_sender.py
  backend/send_email_hierarchy/request_user_email_sender.py
  backend/worker.py
Labels: backend, enhancement

#1083 Refact util modules imports
  backend/handlers/event_collection_handler.py
  backend/handlers/event_handler.py
  backend/handlers/get_key_handler.py
  backend/handlers/institution_children_request_collection_handler.py
  backend/handlers/institution_children_request_handler.py
  backend/handlers/institution_collection_handler.py
  backend/handlers/institution_events_handler.py
  backend/handlers/institution_followers_handler.py
  backend/handlers/institution_handler.py
  backend/handlers/institution_hierarchy_handler.py
  backend/handlers/institution_members_handler.py
  backend/handlers/institution_parent_request_collection_handler.py
  backend/handlers/institution_parent_request_handler.py
  backend/handlers/institution_request_collection_handler.py
  backend/handlers/institution_request_handler.py
  backend/handlers/institution_timeline_handler.py
  backend/handlers/invite_collection_handler.py
  backend/handlers/invite_handler.py
  backend/handlers/invite_institution_handler.py
  backend/handlers/invite_user_adm_handler.py
  backend/handlers/like_handler.py
  backend/handlers/post_collection_handler.py
  backend/handlers/post_comment_handler.py
  backend/handlers/post_handler.py
  backend/handlers/reply_comment_handler.py
  backend/handlers/request_handler.py
  backend/handlers/resend_invite_handler.py
  backend/handlers/search_handler.py
  backend/handlers/subscribe_post_handler.py
  backend/handlers/user_handler.py
  backend/handlers/user_institutions_handler.py
  backend/handlers/user_profile_handler.py
  backend/handlers/user_request_collection_handler.py
  backend/handlers/user_timeline_handler.py
  backend/handlers/vote_handler.py
  backend/models/institution.py
  backend/models/invite.py
  backend/models/invite_institution.py
  backend/models/invite_user.py
  backend/models/request_institution.py
  backend/models/request_institution_children.py
  backend/models/request_institution_parent.py
  backend/models/request_user.py
  backend/models/user.py
  backend/util/__init__.py
  backend/util/json_patch.py
  backend/util/json_patch_test.py
  backend/util/login_service.py
  backend/util/provider_institutions.py
  backend/util/strings_pt_br.py
  backend/worker.py
Labels: backend, enhancement

#1084 Create transfer admin email
  backend/models/invite_user_adm.py
  backend/send_email_hierarchy/__init__.py
  backend/send_email_hierarchy/transfer_admin_email_sender.py
  backend/templates/transfer_admin_email.html
  backend/util/strings_pt_br.py
Labels: backend, feature

#1086 Fix survey voters' names
  frontend/survey/panel-voters.html
  frontend/survey/surveyDetailsDirective.js
  frontend/test/specs/surveyDetailsDirectiveSpec.js
Labels: bug, frontend

#1087 Refact custom exceptions modules imports
  backend/custom_exceptions/__init__.py
  backend/custom_exceptions/entityException.py
  backend/custom_exceptions/fieldException.py
  backend/custom_exceptions/notAuthorizedException.py
  backend/custom_exceptions/queryException.py
  backend/handlers/event_collection_handler.py
  backend/handlers/institution_children_request_collection_handler.py
  backend/handlers/institution_collection_handler.py
  backend/handlers/institution_events_handler.py
  backend/handlers/institution_followers_handler.py
  backend/handlers/institution_handler.py
  backend/handlers/institution_hierarchy_handler.py
  backend/handlers/institution_parent_request_collection_handler.py
  backend/handlers/institution_request_collection_handler.py
  backend/handlers/institution_request_handler.py
  backend/handlers/institution_timeline_handler.py
  backend/handlers/invite_collection_handler.py
  backend/handlers/invite_handler.py
  backend/handlers/invite_institution_handler.py
  backend/handlers/invite_user_adm_handler.py
  backend/handlers/like_handler.py
  backend/handlers/post_collection_handler.py
  backend/handlers/post_comment_handler.py
  backend/handlers/reply_comment_handler.py
  backend/handlers/request_handler.py
  backend/handlers/resend_invite_handler.py
  backend/handlers/subscribe_post_handler.py
  backend/handlers/user_request_collection_handler.py
  backend/handlers/user_timeline_handler.py
  backend/handlers/vote_handler.py
  backend/models/event.py
  backend/models/invite_institution.py
  backend/models/invite_user.py
  backend/models/invite_user_adm.py
  backend/models/post.py
  backend/models/request.py
  backend/models/request_institution.py
  backend/models/request_user.py
  backend/models/user.py
  backend/test/model_test/event_test.py
  backend/test/model_test/invite_institution_test.py
  backend/test/model_test/invite_user_adm_test.py
  backend/test/model_test/invite_user_test.py
  backend/test/model_test/request_institution_test.py
  backend/test/model_test/request_user_test.py
  backend/test/post_comment_handler_test.py
  backend/utils.py
Labels: backend, enhancement

#1088 Fix adm name in management page
  frontend/institution/managementMembersController.js
  frontend/institution/management_members.html
  frontend/test/specs/managementMembersControllerSpec.js
Labels: bug, frontend

#1074 Tests for RequestInstitutionParent and RequestInstitutionChildren
  backend/models/institution.py
  backend/models/request_institution_children.py
  backend/models/request_institution_parent.py
  backend/test/model_test/request_institution_children_test.py
  backend/test/model_test/request_institution_parent_test.py
Labels: backend, enhancement, test

#1085 Fix duplicated institution children
  backend/handlers/institution_children_request_handler.py
  backend/handlers/institution_parent_request_handler.py
  backend/models/institution.py
  backend/test/institution_children_request_handler_test.py
  backend/test/institution_parent_request_handler_test.py
  backend/test/model_test/institution_test.py
Labels: backend, bug

#1090 Fix create survey post
  frontend/post/postDirective.js
  frontend/survey/surveyDirective.js
  frontend/test/specs/submitFormListenerServiceSpec.js
  frontend/utils/submitFormListenerService.js
Labels: bug, frontend

#1091 Create institution request emails and reject institution request
  backend/models/request_institution.py
  backend/send_email_hierarchy/__init__.py
  backend/send_email_hierarchy/accepted_institution_email_sender.py
  backend/send_email_hierarchy/request_institution_email_sender.py
  backend/send_email_hierarchy/request_user_email_sender.py
  backend/templates/accepted_institution_request_email.html
  backend/templates/rejected_institution_request_email.html
  backend/templates/request_institution_email.html
  backend/util/strings_pt_br.py
Labels: Design, feature, frontend

#1093 Add button to analyse requests
  frontend/institution/management_members.html
  frontend/invites/invite_institution.html
  frontend/styles/custom.css
Labels: enhancement, frontend

#1094 Split notifications queue
  backend/models/invite.py
  backend/send_email_hierarchy/email_sender.py
  backend/send_email_hierarchy/remove_institution_email_sender.py
  queue.yaml
Labels: backend, enhancement

#1099 Refact send invite hierarchy
  backend/handlers/invite_collection_handler.py
  backend/test/invite_collection_handler_test.py
  frontend/invites/inviteService.js
  frontend/test/specs/inviteServiceSpec.js
Labels: backend, enhancement, frontend

#1098 Improving user_request_collection_handler's get documentation
  backend/handlers/user_request_collection_handler.py
Labels: backend, enhancement

#1096 Refact institution handler's post method
  backend/handlers/institution_handler.py
  backend/handlers/like_handler.py
  backend/test/institution_handler_test.py
  frontend/institution/institutionService.js
Labels: backend, enhancement

#1097 Fix html of request_inst email
  backend/templates/rejected_institution_request_email.html
  backend/templates/request_institution_email.html
Labels: backend, bug

#1101 Improving post_handler's patch method
  backend/handlers/post_handler.py
  backend/test/post_handler_test.py
Labels: backend, enhancement

#1105 Fix the confirm reject dialog of request link between institutions
  frontend/requests/request_processing.html
Labels: bug, frontend

#1102 Improving event_handler's get method
  backend/handlers/event_handler.py
Labels: backend, enhancement

#1106 Improving institution_parent_request_collection_handler
  backend/handlers/institution_parent_request_collection_handler.py
Labels: backend, enhancement

#1104 Improving subscribers handler
  backend/handlers/subscribe_post_handler.py
  backend/models/post.py
Labels: backend, enhancement

#1103 Fix send invite hiearchy in frontend
  frontend/invites/inviteInstHierarchieController.js
  frontend/invites/inviteService.js
  frontend/test/inviteInstHierarchieControllerSpec.js
  frontend/test/specs/inviteInsHierarchieSpec.js
  frontend/test/specs/inviteServiceSpec.js
Labels: bug, frontend

#1109 Improving the parameters to indicate urlsafe
  backend/handlers/post_handler.py
Labels: backend, enhancement

#1108 Improving post of institution_children_request_collection_handler
  backend/handlers/institution_children_request_collection_handler.py
Labels: backend, enhancement

#1107 Fix user request dialog
  frontend/requests/requestProcessingController.js
  frontend/requests/request_processing.html
Labels: bug, frontend

#1111 Removing unncessary TODO
  frontend/event/eventDetailsDirective.js
  frontend/test/package-lock.json
Labels: Refact

#1114 Test get of post handler
  backend/test/mocks.py
  backend/test/post_handler_test.py
Labels: backend, test

#1117 Toggle left menu in small screens
  frontend/main/main.html
  frontend/user/left_nav.html
Labels: enhancement, frontend

#1115 Improving invite_institution_handler
  backend/handlers/__init__.py
  backend/handlers/invite_collection_handler.py
  backend/handlers/invite_institution_collection_handler.py
  backend/main.py
  backend/test/invite_institution_collection_handler_test.py
  frontend/invites/inviteService.js
  frontend/test/specs/inviteInstitutionControllerSpec.js
  frontend/test/specs/inviteServiceSpec.js
  frontend/test/specs/suggestInstitutionControllerSpec.js
Labels: backend, enhancement

#1116 Removed method unnecessary method
  backend/handlers/institution_request_handler.py
  backend/test/institution_request_handler_test.py
Labels: backend, enhancement

#1119 Fix the header of shared event with image
  frontend/post/share_post_dialog.html
  frontend/styles/custom.css
Labels: bug, frontend

#1121 Fix the left menu in institution managment page
  frontend/institution/management_institution_page.html
Labels: bug, frontend

#1122 Fix institution hierarchie page
  backend/handlers/institution_handler.py
  frontend/invites/inviteInstHierarchieController.js
  frontend/invites/invite_institution_hierarchie.html
  frontend/test/inviteInstHierarchieControllerSpec.js
Labels: bug, frontend

#1123 Removing send_message_email
  backend/service_messages.py
  backend/test/service_messages_test.py
  backend/worker.py
Labels: backend, enhancement

#1125 Remove max-height of div
  frontend/invites/new_invite_page.html
Labels: bug, frontend

#1126 Fix video and links' descriptions requirements in event creation
  frontend/event/event_dialog.html
Labels: bug, frontend

#1112 Refact invite collection handler
  backend/handlers/__init__.py
  backend/handlers/invite_hierarchy_collection_handler.py
  backend/handlers/invite_user_collection_handler.py
  backend/main.py
  backend/test/invite_collection_handler_test.py
  backend/test/invite_hierarchy_collection_handler_test.py
  backend/test/invite_user_collection_handler_test.py
  frontend/institution/managementMembersController.js
  frontend/institution/transferAdminController.js
  frontend/invites/inviteInstHierarchieController.js
  frontend/invites/inviteService.js
  frontend/test/inviteInstHierarchieControllerSpec.js
  frontend/test/specs/managementMembersControllerSpec.js
  frontend/test/specs/transferAdminControllerSpec.js
Labels: Refact, backend, enhancement

#1127 Fixing new_invite_page.html
  frontend/invites/new_invite_page.html
  frontend/styles/custom.css
Labels: bug, frontend

#1128 Create notification when user left the institution
  backend/handlers/user_institutions_handler.py
  backend/models/user.py
  frontend/notification/notificationDirective.js
  frontend/notification/notificationService.js
Labels: backend, feature, frontend

#1129 Fix dialog of create of event
  frontend/event/event_dialog.html
Labels: bug, frontend
