Repository eciis/web, pull requests merged in 2018-02, with the labels that each got.

#790 Simplify vote method
  backend/models/survey_post.py
  backend/test/model_test/survey_post_test.py
Labels: Refact, backend

#792 Adding filter to correct deletion of a comment by id.
  frontend/post/postDetailsDirective.js
  frontend/test/specs/commentControllerSpec.js
Labels: frontend

#791 Add current inst to removed links notifications
  backend/handlers/institution_hierarchy_handler.py
  backend/test/institution_hierarchy_handler_test.py
Labels: backend

#789 Create submit form listener directive
  frontend/index.html
  frontend/post/postDirective.js
  frontend/post/save_post.html
  frontend/test/specs/preventStateChangeDirectiveSpec.js
  frontend/test/specs/submitFormListenerServiceSpec.js
  frontend/utils/preventStateChangeDirective.js
  frontend/utils/submitFormListenerService.js
Labels: feature, frontend

#794 Fix comment in post page
  frontend/post/postDetailsDirective.js
  frontend/post/post_details.html
Labels: bug, frontend

#795 Add load circle in timeline
  frontend/post/timeline.html
Labels: frontend

#793 Making the name of institution clickable in config_profile page
  frontend/auth/configProfileController.js
  frontend/auth/config_profile.html
Labels: frontend

#796 New error page
  frontend/app.js
  frontend/error/error.html
Labels: frontend

#798 Making md-list-item show the profile in management-members
  frontend/institution/management_members.html
Labels: frontend

#797 Fix tutorial dialog in small screens
  frontend/invites/welcome_dialog.html
Labels: bug, frontend

#773 Refact post collection handler
  backend/handlers/post_collection_handler.py
  backend/models/factory_post.py
  backend/models/institution.py
  backend/models/user.py
  backend/test/post_collection_handler_test.py
  backend/worker.py
Labels: backend

#807 Fixing the survey options' max-height
  frontend/survey/save_survey.html
Labels: frontend

#808 Fix sidenav layout of intitution page
  frontend/institution/base_institution_page.html
Labels: frontend

#806 Fix introdution of institution authorization header only to backend api requests
  frontend/app.js
Labels: bug, frontend

#805 Adding verification before return
  frontend/event/eventDetailsDirective.js
Labels: frontend

#802 Adding white background in picture of user profile and institution profile
  frontend/institution/base_institution_page.html
  frontend/user/left_nav.html
Labels: frontend

#803 Adding load progress in institution's creation
  frontend/institution/configInstDirective.js
  frontend/institution/create_inst_form.html
Labels: frontend

#801 Fix reply deleted comment
  backend/models/post.py
  frontend/post/postDetailsDirective.js
  frontend/utils/messageService.js
Labels: backend, bug, frontend

#800 Fix share survey view
  frontend/post/postDetailsDirective.js
  frontend/post/share_post_dialog.html
Labels: bug, frontend

#811 Fix layout of action buttons of post details
  frontend/post/postDetailsDirective.js
  frontend/post/post_details.html
Labels: frontend

#809 Fix the comment button color in deleted post
  frontend/post/postDetailsDirective.js
  frontend/post/post_details.html
  frontend/test/specs/postDetailsControllerSpec.js
Labels: bug, frontend

#813 Adding a new regex to accept more youtube url types and match to get id of video
  frontend/post/post.js
  frontend/post/postDirective.js
Labels: frontend

#814 Fixed responsideness of event page
  frontend/event/event_details.html
Labels: frontend

#812 Fix comment's buttons
  frontend/post/comment.html
Labels: frontend

#799 App selection before deploy through ecis script
  ecis
Labels: infrastructure

#819 Create new layout of reset password modal
  frontend/auth/loginController.js
  frontend/auth/reset_password_dialog.html
Labels: frontend

#816 Refact method POST of like handler
  backend/handlers/like_handler.py
  backend/models/post.py
  backend/test/post_handler_test.py
Labels: Refact, backend

#817 Redesign Notifications directive
  frontend/notification/notificationDirective.js
  frontend/notification/notificationService.js
  frontend/notification/notifications.html
  frontend/styles/custom.css
Labels: Design, feature, frontend

#815 Creating test to institution_collecion_handler
  backend/test/institution_collection_handler_test.py
  backend/test/mocks.py
Labels: backend, test

#804 Display the result of a survey after deadline
  frontend/survey/surveyDetailsDirective.js
  frontend/survey/survey_details.html
  frontend/test/specs/surveyDetailsDirectiveSpec.js
Labels: feature, frontend

#820 Fix save post card visualization when the post isn't filled
  frontend/post/save_post.html
Labels: Design, bug, frontend

#822 Fix alignment of edit institution page
  frontend/institution/management_institution_page.html
Labels: Design, bug, frontend

#823 Fix bug in opening of institution website without http(s).
  frontend/institution/institutionController.js
Labels: bug, frontend

#824 Fix responsiveness of event page to small screens.
  frontend/event/event_page.html
Labels: Design

#825 Fix pdf opening bug
  frontend/post/pdfViewDirective.js
  frontend/post/pdf_view.html
Labels: bug, frontend

#826 Fix possible multiple click to open PDF dialog
  frontend/post/pdfDialog.html
  frontend/post/pdfViewDirective.js
Labels: bug, frontend

#831 Fix show message of empty filtered institutions in search page
  frontend/search/search.html
  frontend/search/searchController.js
  frontend/test/specs/searchControllerSpec.js
Labels: bug, frontend

#827 Fix script to configure backend url when deploying to support app
  .gitignore
  ecis
Labels: bug, infrastructure

#828 Fix error message when like deleted comment
  backend/models/post.py
  frontend/post/postDetailsDirective.js
  frontend/utils/messageService.js
Labels: backend, bug, frontend

#821 Fix event changes in the edit dialog that directly modified the event page.
  backend/models/event.py
  frontend/event/eventController.js
  frontend/event/eventDetailsDirective.js
Labels: bug, frontend

#834 Script to add an App Version to be displayed on Frontend and Support apps
  ecis
  frontend/config.js
  frontend/main/main.html
  frontend/main/mainController.js
  frontend/styles/custom.css
  support/config.js
  support/report/reportController.js
  support/support/support.html
  support/support/supportController.js
Labels: frontend, infrastructure, support

#833 Redirect button from error page to report page
  frontend/error/error.html
  frontend/error/errorController.js
Labels: feature, frontend

#829 Fix error message when user comments the post that was deleted.
  frontend/utils/messageService.js
Labels: bug, frontend

#836 Fix alignment of management institution page
  frontend/institution/management_institution_page.html
Labels: Design, bug, frontend

#839 Fix save website url when create institution
  frontend/institution/create_inst_form.html
Labels: bug, frontend

#838 Notification page
  Jenkinsfile
  frontend/app.js
  frontend/notification/notificationDirective.js
  frontend/notification/notificationService.js
  frontend/notification/notifications.html
  frontend/notification/notifications_page.html
  frontend/test/package.json
  setup_google_credential.sh
Labels: Design, feature, frontend

#818 Send multiple user invites
  backend/handlers/invite_collection_handler.py
  backend/handlers/invite_handler.py
  backend/models/institution.py
  backend/models/invite_user.py
  backend/test/invite_collection_handler_test.py
  backend/test/invite_handler_test.py
  backend/test/model_test/invite_user_test.py
  backend/worker.py
  frontend/institution/managementMembersController.js
  frontend/institution/management_members.html
  frontend/invites/invite.js
  frontend/invites/newInviteController.js
  frontend/survey/surveyDirective.js
  frontend/test/specs/managementMembersControllerSpec.js
  frontend/test/specs/newInviteControllerSpec.js
  frontend/utils/messageService.js
Labels: backend, feature, frontend

#840 Fix share survey view
  frontend/post/post_details.html
  frontend/post/share_post_dialog.html
  frontend/styles/custom.css
  frontend/survey/surveyDetailsDirective.js
  frontend/survey/survey_details.html
Labels: Design, bug, frontend

#841 Fix missing feedback when editing user profile
  frontend/auth/configProfileController.js
  frontend/auth/config_profile.html
Labels: bug, frontend

#844 Main Script enhancement
  ecis
Labels: bug, infrastructure

#842 Fix posibility of return step when saving event
  frontend/event/eventController.js
  frontend/event/event_dialog.html
Labels: bug, frontend

#846 Fix possible multiple clicks on like comment button
  frontend/post/postDetailsDirective.js
Labels: bug, frontend

#843 Fix design of event's date in firefox.
  frontend/event/event_details.html
Labels: Design, bug, frontend

#832 Fix create event even when the user don't set de event date
  frontend/event/eventController.js
  frontend/event/eventPageController.js
  frontend/event/event_dialog.html
  frontend/test/specs/eventDialogCtrlSpec.js
  frontend/test/specs/eventPageControllerSpec.js
Labels: bug, frontend

#830 Fix reload of survey
  frontend/post/postDetailsDirective.js
  frontend/test/specs/postDetailsControllerSpec.js
Labels: bug, frontend
