Repository eciis/web, pull requests merged in 2018-10, with the labels that each got.

#1255 Fix refresh user token
  ecis
  frontend/app.js
  frontend/auth/authService.js
  frontend/test/init.js
  frontend/test/specs/auth/authServiceSpec.js
Labels: bug, frontend

#1254 Fix toolbar buttons alignment
  ecis
  frontend/index.html
  frontend/main/main.css
  frontend/main/main.html
  frontend/sw.js
Labels: Design, bug, frontend

#1261 Fix layout of config_user view
  frontend/user/config-profile.css
  frontend/user/config_profile.html
Labels: Design, bug

#1258 Fixing the layout of events timeline
  frontend/event/event.html
Labels: Design, bug

#1251 Responsive manage institution
  frontend/index.html
  frontend/institution/edit_info.html
  frontend/institution/management_institution.css
  frontend/institution/management_members.html
  frontend/institution/submit_form.html
  frontend/invites/invite_institution_hierarchie.html
Labels: Design

#1256 Add doctype html
  frontend/auth/login.html
  frontend/auth/signup.html
  frontend/comment/comment.html
  frontend/event/event_dialog.html
  frontend/event/event_page.html
  frontend/home/home.html
  frontend/index.html
  frontend/institution/base_institution_page.html
  frontend/institution/create_inst.html
  frontend/institution/create_inst_form.html
  frontend/institution/edit_info.html
  frontend/institution/portfolioDialog.html
  frontend/invites/invite_institution_hierarchie.html
  frontend/invites/new_invite_page.html
  frontend/invites/redirect_invite_institution.html
  frontend/post/pdfDialog.html
  frontend/post/post_details.html
  frontend/post/post_page.html
  frontend/search/search.html
  frontend/styles/custom.css
  frontend/user/user_inactive.html
  frontend/utils/loadCircleDirective.js
Labels: enhancement, frontend

#1262 Added manifest icon at right size
  frontend/images/icons/cis-128x128.png
  frontend/images/icons/cis-144x144.png
  frontend/images/icons/cis-152x152.png
  frontend/images/icons/cis-192x192.png
  frontend/images/icons/cis-384x384.png
  frontend/images/icons/cis-512x512.png
  frontend/index.html
  frontend/manifest.json
Labels: bug, frontend

#1263 Fix change cover photo button in small screen
  frontend/institution/base_institution_page.html
Labels: bug, frontend

#1264 Fix cancel edit post
  frontend/post/postDirective.js
  frontend/test/specs/post/postDirectiveSpec.js
Labels: bug, frontend

#1265 Fix event data visualization
  frontend/test/specs/event/eventDetailsControllerSpec.js
Labels: bug, frontend

#1266 Fix status bar of create event dialog
  frontend/event/event_dialog.html
  frontend/styles/custom.css
Labels: bug, frontend

#1260 Redesign inactive user
  frontend/auth/signup.html
  frontend/index.html
  frontend/user/user_inactive.css
  frontend/user/user_inactive.html
Labels: Design, bug

#1269 Fix send request invite
  frontend/auth/signupDirective.js
Labels: bug, frontend

#1267 Fix avatar of manage members page
  frontend/institution/management_institution.css
  frontend/institution/management_members.html
Labels: Design, bug

#1268 Responsive creation of post
  frontend/home/post_dialog.html
  frontend/index.html
  frontend/post/create_post.css
  frontend/post/pdf_view.html
  frontend/post/postDirective.js
  frontend/post/save_post.html
  frontend/styles/custom.css
  frontend/survey/save_survey.html
  frontend/survey/survey.css
Labels: Design, frontend

#1272 Remove app-version from mobiles' screen
  frontend/main/main.html
Labels: enhancement, frontend

#1259 Notification body structure
  backend/fcm.py
  backend/handlers/institution_children_request_collection_handler.py
  backend/handlers/institution_parent_request_collection_handler.py
  backend/handlers/invite_user_collection_handler.py
  backend/handlers/like_handler.py
  backend/handlers/post_comment_handler.py
  backend/models/post.py
  backend/push_notification/__init__.py
  backend/push_notification/push_notification_service.py
  backend/push_notification/send_push_notification_worker_handler.py
  backend/requirements.txt
  backend/test/invite_handlers_tests/invite_user_collection_handler_test.py
  backend/test/like_handlers_tests/like_post_handler_test.py
  backend/test/post_handlers_tests/post_comment_handler_test.py
  backend/test/request_handlers_test/institution_children_request_collection_handler_test.py
  backend/test/request_handlers_test/institution_parent_request_collection_handler_test.py
  backend/test/test_base_handler.py
  backend/test/util_modules_tests/fcm_test.py
  backend/test/util_modules_tests/push_notification_service_test.py
  backend/test/worker_handlers_tests/send_invite_handler_test.py
  backend/test/worker_handlers_tests/send_push_notification_handler_test.py
  backend/utils.py
  backend/worker.py
Labels: backend, enhancement

#1247 Push notifications setup
  backend/fcm.py
  backend/firebase.py
  backend/handlers/institution_children_request_collection_handler.py
  backend/handlers/institution_parent_request_collection_handler.py
  backend/handlers/invite_user_collection_handler.py
  backend/handlers/like_handler.py
  backend/handlers/post_comment_handler.py
  backend/models/post.py
  backend/push_notification/__init__.py
  backend/push_notification/push_notification_service.py
  backend/push_notification/send_push_notification_worker_handler.py
  backend/requirements.txt
  backend/test/invite_handlers_tests/invite_user_collection_handler_test.py
  backend/test/like_handlers_tests/like_post_handler_test.py
  backend/test/post_handlers_tests/post_comment_handler_test.py
  backend/test/request_handlers_test/institution_children_request_collection_handler_test.py
  backend/test/request_handlers_test/institution_parent_request_collection_handler_test.py
  backend/test/test_base_handler.py
  backend/test/util_modules_tests/fcm_test.py
  backend/test/util_modules_tests/push_notification_service_test.py
  backend/test/worker_handlers_tests/send_invite_handler_test.py
  backend/test/worker_handlers_tests/send_push_notification_handler_test.py
  backend/utils.py
  backend/worker.py
  ecis
  frontend/auth/authService.js
  frontend/index.html
  frontend/notification/pushNotificationService.js
  frontend/test/init.js
  frontend/test/specs/notification/pushNotificationServiceSpec.js
Labels: backend, feature, frontend

#1270 Redesign dialog profile
  frontend/index.html
  frontend/user/edit_profile.css
  frontend/user/edit_profile.html
Labels: Design, bug

#1275 Fix background color of splash screen
  frontend/manifest.json
Labels: Design, bug, frontend

#1279 Personalize notifications in the service worker
  frontend/sw.js
Labels: enhancement, frontend

#1280 Fixed event test
  backend/test/model_test/event_test.py
Labels: backend, bug

#1282 Fixed event test
  backend/test/model_test/event_test.py
Labels: backend, bug

#1283 Fixed event test
  backend/test/model_test/event_test.py
Labels: backend, bug

#1284 Create a new Jenkins image
  Jenkinsfile
Labels: enhancement, infrastructure

#1285 Refact jenkins frontend tests
  Jenkinsfile
  ecis
Labels: enhancement, infrastructure

#1286 Fix workbox communication error
  frontend/frontend.yaml
  frontend/sw.js
Labels: bug, frontend

#1287 Change package manager bower to yarn
  .gitignore
  ecis
  frontend/test/package.json
Labels: enhancement, infrastructure

#1288 Fix reload page when user place incorrect password
  frontend/auth/authService.js
  frontend/auth/loginController.js
Labels: bug, frontend

#1274 Redesign creation of post
  frontend/index.html
  frontend/post/create_post.css
  frontend/post/pdfViewDirective.js
  frontend/post/pdf_preview_mobile.html
  frontend/post/pdf_view.css
  frontend/post/postDirective.js
  frontend/post/save_post.html
  frontend/post/save_post_mobile.html
  frontend/styles/custom.css
  frontend/utils/utils.js
Labels: Design, frontend

#1277 Comment component
  frontend/comment/comment.component.js
  frontend/comment/comment.html
  frontend/comment/commentDirective.js
  frontend/comment/commentService.js
  frontend/index.html
  frontend/post/post.js
  frontend/post/post_details.html
  frontend/test/specs/comment/commentControllerSpec.js
  frontend/test/specs/comment/commentServiceSpec.js
  frontend/test/specs/post/commentControllerSpec.js
Labels: enhancement, frontend

#1290 Hotfix angular fire link
  support/index.html
Labels: bug, frontend

#1289 Request invite redesign
  frontend/auth/login.html
  frontend/auth/signup.css
  frontend/auth/signup.html
  frontend/index.html
Labels: Design, enhancement, frontend

#1291 Remove bower.json file
  frontend/test/bower.json
Labels: frontend
