Repository eciis/web, pull requests merged in 2018-06, with the labels that each got.

#1130 Fix send invite user frontend
  frontend/institution/managementMembersController.js
  frontend/test/specs/managementMembersControllerSpec.js
Labels: bug, frontend

#1131 Fix vote in shared survey post
  frontend/post/post_details.html
Labels: bug, frontend

#1133 Fix share event in event's page and in event's details
  frontend/app.js
  frontend/event/event.html
  frontend/event/eventController.js
  frontend/event/eventDetailsDirective.js
  frontend/event/eventPageController.js
  frontend/event/event_page.html
  frontend/home/homeController.js
  frontend/institution/institution_events.html
  frontend/post/postDetailsDirective.js
  frontend/post/post_details.html
  frontend/post/sharePostController.js
  frontend/post/share_post_dialog.html
  frontend/test/specs/eventPageControllerSpec.js
  frontend/test/specs/sharePostControllerSpec.js
Labels: bug, frontend

#1135 Fix survey's multiple votes
  backend/handlers/vote_handler.py
  backend/models/survey_post.py
  backend/test/model_test/survey_post_test.py
  backend/test/vote_handler_test.py
  frontend/survey/surveyDetailsDirective.js
  frontend/utils/messageService.js
Labels: backend, bug

#1136 Remove institution link before accept a children request
  .gitignore
  backend/models/invite.py
  backend/test/invite_hierarchy_collection_handler_test.py
  backend/test/invite_user_collection_handler_test.py
  backend/test/model_test/invite_institution_children_test.py
  backend/test/model_test/invite_institution_parent_test.py
  backend/test/model_test/invite_institution_test.py
  backend/test/model_test/invite_test.py
  backend/test/model_test/invite_user_adm_test.py
  backend/test/model_test/invite_user_test.py
  backend/test/model_test/request_institution_children_test.py
  backend/test/model_test/request_institution_parent_test.py
  backend/test/model_test/request_institution_test.py
  backend/test/model_test/request_user_test.py
  frontend/index.html
  frontend/institution/institution.js
  frontend/invites/inviteInstHierarchieController.js
  frontend/invites/invite_institution_hierarchie.html
  frontend/requests/analyseHierarchyRequestController.js
  frontend/requests/analyse_hierarchy_request_dialog.html
  frontend/requests/requestInvitationService.js
  frontend/test/specs/analyseHierarchyRequestControllerSpec.js
  frontend/test/specs/inviteInstHierarchieControllerSpec.js
  frontend/test/specs/requestInvitationServiceSpec.js
Labels: enhancement, frontend

#1137 Fix the return button in the dialog of creation of event
  frontend/event/event_dialog.html
Labels: bug, frontend

#1138 Test EventService
  frontend/event/eventService.js
  frontend/test/specs/eventServiceSpec.js
Labels: frontend, test

#1139 Fix share post dialog
  frontend/post/share_post_dialog.html
Labels: bug, frontend

#1134 Fix vote survey
  backend/handlers/vote_handler.py
  backend/test/vote_handler_test.py
  frontend/post/postDetailsDirective.js
  frontend/post/post_details.html
  frontend/survey/surveyDetailsDirective.js
  frontend/test/specs/surveyDetailsDirectiveSpec.js
Labels: bug, frontend

#1141 Creating tests to userService.js
  frontend/test/specs/userServiceSpec.js
Labels: enhancement, frontend, test

#1140 Refact invite handler
  backend/handlers/__init__.py
  backend/handlers/invite_handler.py
  backend/handlers/invite_institution_handler.py
  backend/handlers/invite_user_handler.py
  backend/main.py
  backend/test/invite_handler_test.py
  backend/test/invite_institution_handler_test.py
  backend/test/invite_user_handler_test.py
  frontend/invites/inviteService.js
  frontend/invites/newInviteController.js
  frontend/test/specs/newInviteControllerSpec.js
Labels: Refact, backend, enhancement

#1144 Removing AddPostInstitution handler
  backend/handlers/post_collection_handler.py
  backend/test/post_collection_handler_test.py
  backend/worker.py
Labels: backend, enhancement

#1143 Create test of notificationService
  frontend/test/specs/notificationServiceSpec.js
Labels: enhancement, frontend, test

#1145 Remove duplicated showToast in sendUserInvite
  frontend/institution/managementMembersController.js
Labels: duplicate, enhancement, frontend

#1142 Fix loop when create link between institutions
  backend/models/institution.py
  backend/test/institution_children_request_handler_test.py
  backend/test/institution_parent_request_handler_test.py
  backend/test/model_test/institution_test.py
  backend/worker.py
Labels: backend, bug

#1147 Move create notifications messages to other service
  frontend/index.html
  frontend/notification/notificationMessageCreatorService.js
  frontend/notification/notificationService.js
Labels: enhancement, frontend

#1148 Fix message of accept request dialog
  frontend/requests/requestProcessingController.js
  frontend/requests/request_processing.html
Labels: bug, frontend

#1149 Fix create event
  frontend/event/event_dialog.html
Labels: bug, frontend

#1151 Fix the creation of survey in small screens
  frontend/styles/custom.css
  frontend/survey/save_survey.html
  frontend/survey/surveyDirective.js
Labels: bug, frontend

#1153 Adding white background in institution cover photo
  frontend/institution/base_institution_page.html
Labels: enhancement, frontend

#1152 Redirecting passive notifications to notifications page
  frontend/notification/notificationDirective.js
Labels: enhancement, frontend

#1154 Fix add permission to remove survey
  frontend/survey/surveyDirective.js
  frontend/test/specs/surveyDirectiveSpec.js
Labels: bug, frontend

#1150 Fix edit post.
  backend/handlers/post_handler.py
  backend/models/post.py
  backend/test/post_handler_test.py
  frontend/post/postDirective.js
  frontend/post/post_details.html
  frontend/utils/messageService.js
Labels: backend, bug

#1156 Adding test to the new behavior of goTo function in notificationDirective.js
  frontend/notification/notificationDirective.js
  frontend/test/specs/NotificationControllerSpec.js
Labels: test

#1159 Add error message in message service
  frontend/utils/messageService.js
Labels: enhancement, frontend

#1155 Fix delete user account
  backend/handlers/user_handler.py
  backend/test/user_handler_test.py
Labels: backend, bug

#1161 Remove none option from hierarchy invite's view
  frontend/invites/invite_institution_hierarchie.html
Labels: enhancement, frontend

#1162 Fix search with escapes characters
  backend/search_module/search_institution.py
  backend/utils.py
Labels: backend, bug

#1164 Fix message of send user request and create button to search institutions
  frontend/institution/create_inst_form.html
  frontend/user/user_inactive.html
Labels: bug, frontend

#1163 Creation of a service for request dialogs
  backend/models/request.py
  backend/test/model_test/request_institution_children_test.py
  backend/test/model_test/request_institution_parent_test.py
  backend/test/model_test/request_institution_test.py
  frontend/app.js
  frontend/index.html
  frontend/institution/managementMembersController.js
  frontend/invites/acceptInviteController.js
  frontend/invites/invite.js
  frontend/invites/inviteInstHierarchieController.js
  frontend/invites/newInviteController.js
  frontend/invites/processInviteUserAdmController.js
  frontend/notification/notificationDirective.js
  frontend/requests/analyseHierarchyRequestController.js
  frontend/requests/analyse_hierarchy_request_dialog.html
  frontend/requests/requestDialogService.js
  frontend/requests/requestInvitationService.js
  frontend/requests/requestProcessingController.js
  frontend/requests/request_user_dialog.html
  frontend/test/specs/analyseHierarchyRequestControllerSpec.js
  frontend/test/specs/inviteInstHierarchieControllerSpec.js
  frontend/test/specs/processInviteUserAdmControllerSpec.js
  frontend/test/specs/requestDialogServiceSpec.js
  frontend/test/specs/requestInvitationServiceSpec.js
  frontend/test/specs/requestProcessingControllerSpec.js
Labels: backend, enhancement, frontend

#1165 Fix notify posts' subscribers when there is a new comment
  backend/handlers/post_comment_handler.py
  backend/test/post_comment_handler_test.py
Labels: backend, bug

#1168 Organize event client tests
  frontend/test/specs/event/eventDetailsControllerSpec.js
  frontend/test/specs/event/eventDialogCtrlSpec.js
  frontend/test/specs/event/eventPageControllerSpec.js
  frontend/test/specs/event/eventServiceSpec.js
Labels: enhancement, frontend, test

#1169 Organize invite client tests
  frontend/test/specs/invites/inviteInstHierarchieControllerSpec.js
  frontend/test/specs/invites/inviteInstitutionControllerSpec.js
  frontend/test/specs/invites/inviteServiceSpec.js
  frontend/test/specs/invites/newInviteControllerSpec.js
  frontend/test/specs/invites/processInviteUserAdmControllerSpec.js
  frontend/test/specs/invites/suggestInstitutionControllerSpec.js
Labels: enhancement, frontend, test

#1166 Organize institution client tests
  frontend/test/karma.conf.js
  frontend/test/specs/institution/configInstDirectiveSpec.js
  frontend/test/specs/institution/institutionControllerSpec.js
  frontend/test/specs/institution/institutionLinksControllerSpec.js
  frontend/test/specs/institution/institutionServiceSpec.js
  frontend/test/specs/institution/institutionSpec.js
  frontend/test/specs/institution/managementMembersControllerSpec.js
  frontend/test/specs/institution/removeInstControllerSpec.js
  frontend/test/specs/institution/selectEmailsControllerSpec.js
  frontend/test/specs/institution/transferAdminControllerSpec.js
Labels: enhancement, frontend, test

#1171 Organize post client tests
  frontend/test/specs/post/commentControllerSpec.js
  frontend/test/specs/post/commentServiceSpec.js
  frontend/test/specs/post/postDetailsControllerSpec.js
  frontend/test/specs/post/postDirectiveSpec.js
  frontend/test/specs/post/postServiceSpec.js
  frontend/test/specs/post/postSpec.js
  frontend/test/specs/post/sharePostControllerSpec.js
Labels: enhancement, frontend, test

#1172 Separate tests of home, search, survey and notification
  frontend/test/karma.conf.js
  frontend/test/specs/home/colorPickerControllerSpec.js
  frontend/test/specs/home/homeControllerSpec.js
  frontend/test/specs/notification/notificationControllerSpec.js
  frontend/test/specs/notification/notificationServiceSpec.js
  frontend/test/specs/search/searchControllerSpec.js
  frontend/test/specs/survey/surveyDetailsDirectiveSpec.js
  frontend/test/specs/survey/surveyDirectiveSpec.js
  frontend/test/specs/survey/surveyServiceSpec.js
Labels: enhancement, frontend, test

#1167 Fix comment a post whose institution is not active
  backend/handlers/event_collection_handler.py
  backend/handlers/institution_followers_handler.py
  backend/handlers/institution_handler.py
  backend/handlers/institution_hierarchy_handler.py
  backend/handlers/invite_institution_collection_handler.py
  backend/handlers/invite_user_handler.py
  backend/handlers/like_handler.py
  backend/handlers/post_collection_handler.py
  backend/handlers/post_comment_handler.py
  backend/handlers/reply_comment_handler.py
  backend/handlers/resend_invite_handler.py
  backend/handlers/vote_handler.py
  backend/models/post.py
  backend/test/event_collection_handler_test.py
  backend/test/institution_collection_handler_test.py
  backend/test/institution_followers_handler_test.py
  backend/test/invite_institution_collection_handler_test.py
  backend/test/invite_user_handler_test.py
  backend/test/mocks.py
  backend/test/post_comment_handler_test.py
  backend/test/user_timeline_handler_test.py
  backend/test/vote_handler_test.py
  frontend/utils/messageService.js
Labels: backend, bug

#1174 Organize tests of user, request and utils
  frontend/test/specs/institution/followersInstControllerSpec.js
  frontend/test/specs/request/analyseHierarchyRequestControllerSpec.js
  frontend/test/specs/request/requestDialogServiceSpec.js
  frontend/test/specs/request/requestInvitationControllerSpec.js
  frontend/test/specs/request/requestInvitationServiceSpec.js
  frontend/test/specs/request/requestProcessingControllerSpec.js
  frontend/test/specs/user/profileControllerSpec.js
  frontend/test/specs/user/profileServiceSpec.js
  frontend/test/specs/user/userInactiveControllerSpec.js
  frontend/test/specs/user/userServiceSpec.js
  frontend/test/specs/user/userSpec.js
  frontend/test/specs/utils/httpServiceSpec.js
  frontend/test/specs/utils/messageServiceSpec.js
  frontend/test/specs/utils/preventStateChangeDirectiveSpec.js
  frontend/test/specs/utils/submitFormListenerServiceSpec.js
  frontend/test/specs/utils/utilsSpec.js
Labels: enhancement, frontend, test

#1170 Refreshing user permissions after transfer admin permissions
  backend/service_messages.py
  backend/worker.py
  frontend/invites/process_invite_user_adm.html
  frontend/notification/notificationDirective.js
  frontend/notification/notificationMessageCreatorService.js
Labels: backend, enhancement, frontend

#1175 Organize auth and main tests
  frontend/test/karma.conf.js
  frontend/test/specs/auth/authServiceSpec.js
  frontend/test/specs/auth/configProfileControllerSpec.js
  frontend/test/specs/auth/editProfileControllerSpec.js
  frontend/test/specs/auth/loginControllerSpec.js
  frontend/test/specs/main/mainControllerSpec.js
Labels: enhancement, frontend, test

#1176 Fix pending hierarchy invitation's analyze button
  frontend/invites/invite_institution_hierarchie.html
Labels: bug, frontend

#1177 Fix getCountries and getInstitution
  backend/handlers/institution_handler.py
  frontend/institution/configInstDirective.js
Labels: backend, bug, frontend

#1179 Fix institution_handler's get method
  backend/handlers/institution_handler.py
Labels: backend, bug

#1180 Add branch line in institution profile
  frontend/user/profile.html
Labels: enhancement, frontend

#1181 Send notification to adms when the user remove the account
  backend/handlers/user_handler.py
  backend/test/user_handlers_tests/user_handler_test.py
  frontend/notification/notificationDirective.js
  frontend/notification/notificationMessageCreatorService.js
Labels: backend, enhancement, frontend

#1183 Create event model test
  frontend/test/specs/event/eventSpec.js
Labels: frontend, test

#1182 Create tests for PostPageController
  frontend/test/specs/post/postPageControllerSpec.js
Labels: frontend, test

#1160 Create Notification Listener Service
  frontend/index.html
  frontend/main/mainController.js
  frontend/notification/notificationDirective.js
  frontend/post/postDirective.js
  frontend/survey/surveyDirective.js
  frontend/test/specs/main/mainControllerSpec.js
  frontend/test/specs/notification/notificationControllerSpec.js
  frontend/test/specs/util/NotificationListenerServiceSpec.js
  frontend/user/userService.js
  frontend/utils/NotificationListenerService.js
Labels: feature, frontend

#1184 Testing acceptInviteController
  frontend/invites/acceptInviteController.js
  frontend/test/specs/invites/acceptInviteControllerSpec.js
Labels: enhancement, frontend, test

#1186 Fix cancel hierarchy invite
  backend/handlers/invite_institution_handler.py
  backend/test/invite_handlers_tests/invite_institution_handler_test.py
  frontend/invites/inviteService.js
Labels: backend, bug

#1187 Fix accept invite from an inactive institution
  frontend/invites/newInviteController.js
  frontend/test/specs/invites/newInviteControllerSpec.js
Labels: bug, frontend

#1188 Add tests for Utils
  frontend/test/specs/utils/NotificationListenerServiceSpec.js
  frontend/test/specs/utils/utilsSpec.js
  frontend/utils/utils.js
Labels: enhancement, frontend, test

#1189 Create all institutions controller test
  frontend/institution/allInstitutionsController.js
  frontend/test/specs/institution/allInstitutionsControllerSpec.js
Labels: frontend, test

#1185 Disabling button to send requests to be a member of an institution
  backend/handlers/user_handler.py
  frontend/institution/base_institution_page.html
  frontend/institution/institution_card.html
  frontend/requests/requestInvitationController.js
  frontend/test/specs/request/requestInvitationControllerSpec.js
  frontend/test/specs/user/userSpec.js
  frontend/user/user.js
Labels: backend, enhancement, frontend

#1192 Fix institutional_email in change parent dialog
  frontend/requests/analyse_hierarchy_request_dialog.html
Labels: bug, frontend

#1191 Fix change parent
  frontend/requests/analyseHierarchyRequestController.js
  frontend/test/specs/request/analyseHierarchyRequestControllerSpec.js
Labels: bug, frontend

#1190 Create test event controller
  frontend/event/eventController.js
  frontend/test/specs/event/eventControllerSpec.js
Labels: frontend, test

#1193 Fix link's status in institution's page
  frontend/institution/institutionLinksController.js
  frontend/test/specs/institution/institutionLinksControllerSpec.js
Labels: bug, frontend

#1194 Translating post error message
  frontend/utils/messageService.js
Labels: enhancement, frontend

#1195 Fix shared post's title
  frontend/post/post_details.html
Labels: bug, frontend

#1198 Set profile's default color
  backend/models/user.py
  frontend/institution/configInstDirective.js
  frontend/user/user.js
Labels: backend, enhancement, frontend

#1197 Adding message to wait the processing of permissions
  frontend/invites/process_invite_user_adm.html
  frontend/requests/analyseHierarchyRequestController.js
  frontend/requests/analyse_hierarchy_request_dialog.html
  frontend/requests/requestDialogService.js
  frontend/requests/requestInvitationController.js
  frontend/requests/requestProcessingController.js
  frontend/test/specs/request/analyseHierarchyRequestControllerSpec.js
  frontend/test/specs/request/requestProcessingControllerSpec.js
Labels: Refact, enhancement, frontend

#1196 Refact function reload of auth service
  frontend/auth/authService.js
  frontend/notification/notificationDirective.js
  frontend/requests/requestProcessingController.js
  frontend/survey/surveyDirective.js
  frontend/test/specs/notification/notificationControllerSpec.js
  frontend/user/userService.js
Labels: enhancement, frontend

#1199 Updating user in remove permissions
  backend/worker.py
  frontend/notification/notificationDirective.js
  frontend/notification/notificationMessageCreatorService.js
  frontend/test/specs/notification/notificationControllerSpec.js
  frontend/user/userService.js
Labels: backend, enhancement, frontend

#1200 Test institution card controller
  frontend/test/specs/institution/institutionCardControllerSpec.js
Labels: enhancement, frontend, test

#1205 Test removeChildController
  frontend/test/specs/invites/removeChildControllerSpec.js
Labels: enhancement, frontend, test

#1203 Fix invalid request notification
  frontend/institution/institution.js
  frontend/institution/managementMembersController.js
  frontend/invites/invite.js
  frontend/notification/notificationService.js
  frontend/requests/requestDialogService.js
  frontend/test/specs/institution/institutionSpec.js
  frontend/test/specs/institution/managementMembersControllerSpec.js
  frontend/test/specs/invites/inviteSpec.js
  frontend/test/specs/invites/newInviteControllerSpec.js
  frontend/test/specs/invites/processInviteUserAdmControllerSpec.js
  frontend/test/specs/request/requestDialogServiceSpec.js
  frontend/utils/messageService.js
  frontend/utils/message_dialog.html
Labels: bug, frontend

#1207 Add new tests to Invite model
  frontend/invites/invite.js
  frontend/test/specs/invites/inviteSpec.js
Labels: frontend, test

#1208 Finishing user tests
  frontend/test/specs/user/userSpec.js
Labels: enhancement, frontend, test

#1209 Refact SelectEmailsController
  frontend/institution/managementMembersController.js
  frontend/institution/selectEmailsController.js
  frontend/test/specs/institution/selectEmailsControllerSpec.js
Labels: Refact, frontend
