Repository eciis/web, pull requests merged in 2019-02, with the labels that each got.

#1411 Refact handler to reset features
  backend/admin.py
Labels: backend, enhancement, infrastructure

#1378 Create feature toggles service
  backend/admin.py
  backend/handlers/feature_toggle_handler.py
  backend/models/feature.py
  backend/test/feature_toggle_handler_tests/feature_toggle_handler_test.py
  backend/test/model_test/feature_test.py
  ecis
  feature-toggles/app.js
  feature-toggles/auth/authService.js
  feature-toggles/auth/login.css
  feature-toggles/auth/login.html
  feature-toggles/auth/loginController.js
  feature-toggles/config.js
  feature-toggles/favicon.ico
  feature-toggles/feature.yaml
  feature-toggles/firebase-config.js
  feature-toggles/icons/google-icon.svg
  feature-toggles/images/logo.png
  feature-toggles/images/logowithname.png
  feature-toggles/index.html
  feature-toggles/libs/angular-ui-router.js
  feature-toggles/manage/manage-toggles.css
  feature-toggles/manage/manage-toggles.html
  feature-toggles/manage/manageTogglesController.js
  feature-toggles/manage/manageTogglesService.js
  feature-toggles/manage/permission-select.html
  feature-toggles/manage/permissionSelect.component.js
  feature-toggles/manage/permission_select.css
  feature-toggles/user/userFactory.js
  feature-toggles/user/userService.js
  feature-toggles/utils/httpService.js
  feature-toggles/utils/loadCircleDirective.js
  feature-toggles/utils/messageService.js
  feature-toggles/utils/statesConstants.js
  feature-toggles/utils/utils.js
  generate_config.sh
Labels: feature, frontend

#1412 Fix create event on desktop
  frontend/event/eventDialogController.js
  frontend/test/specs/event/eventDialogCtrlSpec.js
Labels: bug, frontend

#1410 Fix right side panel on high res screens
  frontend/home/home.html
  frontend/main/main.css
  frontend/styles/custom.css
Labels: bug, frontend

#1417 Add portrait orientation in manifest.json
  frontend/manifest.json
Labels: enhancement, frontend

#1415 Fix "Curtir" and "comentar" button on mobile
  frontend/post/post_details.css
  frontend/post/post_details.html
Labels: bug, frontend, mobile

#1416 Fix pdf item view
  frontend/post/pdf_view.css
  frontend/post/pdf_view.html
  frontend/styles/custom.css
Labels: bug, frontend

#1418 Fix menu of institution page on mobile
  frontend/institution/base_institution.css
Labels: Design, bug, frontend

#1406 Fix scrollbar on firefox to have ecis colors and thin width
  frontend/styles/custom.css
Labels: bug, frontend

#1407 Webchat css refactor
  webchat/components/contacts/contacts-sidenav.component.js
  webchat/components/contacts/contacts-sidenav.css
  webchat/components/contacts/contacts-sidenav.html
  webchat/components/contacts/contacts.css
  webchat/components/contacts/list/contacts-list.css
  webchat/components/contacts/list/contacts-list.html
  webchat/components/contacts/sidenav/contacts-sidenav.html
  webchat/components/contacts/toolbar/contacts-toolbar.css
  webchat/components/contacts/toolbar/contacts-toolbar.html
  webchat/components/expansive-search-bar/expansive-search-bar.css
  webchat/components/expansive-search-bar/expansive-search-bar.html
  webchat/components/header/ecis-header.css
  webchat/components/header/ecis-header.html
  webchat/components/icon-button/icon-button.component.js
  webchat/components/icon-button/icon-button.css
  webchat/components/icon-button/icon-button.html
  webchat/components/logo/logo.css
  webchat/components/user-description/user-description.component.js
  webchat/components/user-description/user-description.css
  webchat/components/user-description/user-description.html
  webchat/ecis.css
  webchat/home/home.css
  webchat/home/home.html
  webchat/index.html
  webchat/styles/animations/simple-fade.css
  webchat/styles/custom.css
  webchat/styles/custom/scrollbar.css
  webchat/styles/responsive/show-management.css
  webchat/styles/utils/constants.css
  webchat/styles/utils/scrollbar-management.css
  webchat/styles/utils/text-management.css
  webchat/webchat/webchat.css
  webchat/webchat/webchat.html
Labels: Refact, webchat

#1422 Registration data mobile
  frontend/app.js
  frontend/index.html
  frontend/institution/base_institution_page_mobile.html
  frontend/institution/configInstDirective.js
  frontend/institution/edit_info_mobile.html
  frontend/institution/edit_registration_data.html
  frontend/institution/edit_registration_data_mobile.css
  frontend/institution/institutionController.js
  frontend/institution/institution_header.html
  frontend/institution/registration_data_mobile.css
  frontend/institution/registration_data_mobile.html
Labels: Design, frontend

#1428 Add 'Reportar problemas' sidenav item
  frontend/sideMenu/factories/homeItems.factory.js
Labels: frontend, mobile

#1413 Create tests for feature toggles service
  .gitignore
  Jenkinsfile
  ecis
  feature-toggles/auth/loginController.js
  feature-toggles/test/init.js
  feature-toggles/test/karma.conf.js
  feature-toggles/test/package.json
  feature-toggles/test/specs/auth/authServiceSpec.js
  feature-toggles/test/specs/auth/loginControllerSpec.js
  feature-toggles/test/specs/manage/manageTogglesControllerSpec.js
  feature-toggles/test/specs/manage/manageTogglesServiceSpec.js
  feature-toggles/test/specs/user/userFactorySpec.js
  feature-toggles/test/specs/user/userServiceSpec.js
  feature-toggles/test/specs/utils/httpServiceSpec.js
  feature-toggles/test/specs/utils/messageServiceSpec.js
  feature-toggles/test/specs/utils/utilsSpec.js
  feature-toggles/test/yarn.lock
  package.json
  setup_frontend_tests
Labels: enhancement, frontend, test

#1430 Fix hide toolbars
  frontend/utils/utils.js
Labels: Design, bug

#1414 Create dynamic top toolbar
  frontend/event/eventController.js
  frontend/event/events_mobile.html
  frontend/home/home.html
  frontend/index.html
  frontend/institution/allInstitutionsController.js
  frontend/institution/registered_institutions_mobile.html
  frontend/main/main.html
  frontend/main/mainController.js
  frontend/notification/notificationController.js
  frontend/notification/notifications_page.html
  frontend/test/specs/event/eventControllerSpec.js
  frontend/test/specs/notification/notificationControllerSpec.js
  frontend/test/specs/toolbar/mainToolbarControllerSpec.js
  frontend/toolbar/mainToolbar.component.js
  frontend/toolbar/main_toolbar_mobile.css
  frontend/toolbar/main_toolbar_mobile.html
  frontend/utils/hideNavbar.js
  frontend/utils/utils.js
Labels: Design, frontend

#1405 Temporary handler to create some missing attributes in production
  backend/admin.py
Labels: backend, enhancement

#1427 Fix request invitation dialog
  frontend/index.html
  frontend/institution/institutionCardDirective.js
  frontend/institution/institutionController.js
  frontend/institution/institutionService.js
  frontend/requests/request_invitation_dialog.css
  frontend/requests/request_invitation_dialog_mobile.html
  frontend/styles/custom.css
Labels: Design, frontend, mobile

#1441 Fix post page
  frontend/post/post_page.html
  frontend/styles/custom.css
Labels: bug, frontend

#1437 Update ecis script to use mac compatible sed usage
  ecis
Labels: enhancement, infrastructure

#1445 Fix edit post dialog
  frontend/home/post_dialog.html
  frontend/post/create_post.css
  frontend/styles/custom.css
Labels: bug, frontend

#1436 Update side menu and institution colorpicker
  frontend/home/colorPickerController.js
  frontend/home/color_picker.css
  frontend/home/color_picker.html
  frontend/home/color_picker_mobile.html
  frontend/index.html
  frontend/sideMenu/sideMenu.component.js
  frontend/sideMenu/side_menu.css
  frontend/sideMenu/side_menu.html
  frontend/test/specs/home/colorPickerControllerSpec.js
Labels: Design, frontend

#1450 changed bottom bar event icon
  frontend/main/main.html
Labels: Design, bug, frontend, mobile

#1449 changed add button collor on timeline
  frontend/home/home.html
Labels: bug, frontend

#1426 Webchat prepares for chat component
  webchat/app.js
  webchat/auth/authService.js
  webchat/chat/chatController.js
  webchat/components/contacts/contacts-sidenav.component.js
  webchat/components/contacts/contacts-sidenav.html
  webchat/components/contacts/list/contacts-list.component.js
  webchat/components/contacts/list/contacts-list.html
  webchat/components/expansive-search-bar/expansive-search-bar.html
  webchat/components/icon-button/icon-button.component.js
  webchat/components/icon-button/icon-button.html
  webchat/components/toggle-button/toggle-button.component.js
  webchat/components/toggle-button/toggle-button.css
  webchat/components/toggle-button/toggle-button.html
  webchat/index.html
  webchat/styles/custom/custom.css
  webchat/utils/chatClient.js
Labels: webchat

#1429 Missing info component
  frontend/error/error.html
  frontend/error/errorController.js
  frontend/event/event.css
  frontend/event/events_mobile.html
  frontend/images/desenho-cis.png
  frontend/index.html
  frontend/notification/notification_list_mobile.css
  frontend/notification/notifications_list_mobile.html
  frontend/post/timeline.html
  frontend/post/timelineDirective.js
  frontend/utils/is-empty-card/is-empty-card.component.js
  frontend/utils/is-empty-card/is-empty-card.css
  frontend/utils/is-empty-card/is-empty-card.html
Labels: Design, frontend, mobile

#1446 Redesign Profile editing page
  backend/models/user.py
  backend/test/model_test/institution_profile_test.py
  frontend/app.js
  frontend/images/edit.png
  frontend/index.html
  frontend/main/mainController.js
  frontend/sideMenu/factories/homeItems.factory.js
  frontend/test/specs/auth/configProfileControllerSpec.js
  frontend/test/specs/auth/editProfileControllerSpec.js
  frontend/test/specs/main/mainControllerSpec.js
  frontend/test/specs/user/configProfileControllerSpec.js
  frontend/test/specs/user/editProfileControllerSpec.js
  frontend/test/specs/user/profileControllerSpec.js
  frontend/test/specs/user/profileServiceSpec.js
  frontend/user/configProfile/configProfileController.js
  frontend/user/configProfile/config_profile.html
  frontend/user/configProfile/config_profile_mobile.css
  frontend/user/configProfile/config_profile_mobile.html
  frontend/user/editProfile/editProfileController.js
  frontend/user/editProfile/edit_profile.css
  frontend/user/editProfile/edit_profile.html
  frontend/user/editProfile/edit_profile_mobile.css
  frontend/user/editProfile/edit_profile_mobile.html
  frontend/user/editProfileController.js
  frontend/user/profileController.js
  frontend/user/profileService.js
  frontend/user/userProfiles/userProfiles.component.js
  frontend/user/userProfiles/user_profiles.css
  frontend/user/userProfiles/user_profiles.html
  frontend/utils/hideNavbar.js
  frontend/utils/utils.js
Labels: Design, enhancement, frontend

#1443 Event notifications
  backend/custom_exceptions/__init__.py
  backend/custom_exceptions/notAllowedException.py
  backend/handlers/__init__.py
  backend/handlers/event_followers_handler.py
  backend/handlers/event_handler.py
  backend/handlers/like_handler.py
  backend/handlers/post_collection_handler.py
  backend/handlers/post_comment_handler.py
  backend/main.py
  backend/models/event.py
  backend/models/post.py
  backend/service_messages.py
  backend/test/event_handlers_tests/event_followers_handler_test.py
  backend/test/event_handlers_tests/event_handler_test.py
  backend/test/like_handlers_tests/like_post_handler_test.py
  backend/test/model_test/event_test.py
  backend/test/post_handlers_tests/post_collection_handler_test.py
  backend/test/post_handlers_tests/post_comment_handler_test.py
  backend/test/services_tests/service_messages_test.py
  backend/worker.py
  frontend/event/event.js
  frontend/event/eventDetailsDirective.js
  frontend/event/eventService.js
  frontend/event/event_details.html
  frontend/event/event_details_small_page.html
  frontend/notification/notificationMessageCreatorService.js
  frontend/notification/notificationService.js
  frontend/notification/notifications_type.constant.js
  frontend/post/postDetailsDirective.js
  frontend/post/post_details.html
  frontend/test/specs/event/eventDetailsControllerSpec.js
  frontend/test/specs/event/eventServiceSpec.js
  frontend/test/specs/event/eventSpec.js
  frontend/test/specs/post/postDetailsControllerSpec.js
  frontend/utils/messageService.js
Labels: backend, feature, frontend

#1455 Modified when push notification permission is asked
  frontend/auth/authService.js
  frontend/home/homeController.js
  frontend/test/specs/home/homeControllerSpec.js
Labels: enhancement, mobile

#1459 Create survey post mobile layout
  frontend/post/post_details.html
  frontend/post/timeline.html
  frontend/styles/custom.css
  frontend/survey/survey.css
  frontend/survey/survey_details.html
Labels: feature, frontend

#1461 Generic dialog component
  frontend/index.html
  frontend/utils/generic-dialog/gen-dialog.component.js
  frontend/utils/generic-dialog/gen-dialog.css
  frontend/utils/generic-dialog/gen-dialog.html
Labels: frontend

#1460 Hide scrollbar of the timeline in mobile devices
  frontend/event/events_mobile.html
  frontend/home/home.html
  frontend/institution/registered_institutions_mobile.html
  frontend/notification/notifications_list_mobile.html
  frontend/notification/notifications_page.html
  frontend/styles/custom.css
Labels: enhancement, frontend

#1457 Spread custom toolbar
  frontend/event/create_event.html
  frontend/event/event.css
  frontend/event/eventDetailsDirective.js
  frontend/event/event_details_small_page.html
  frontend/index.html
  frontend/post/postDetailsDirective.js
  frontend/post/postPageController.js
  frontend/post/post_details.html
  frontend/post/post_page.html
  frontend/styles/custom.css
  frontend/test/specs/event/eventDetailsControllerSpec.js
  frontend/test/specs/post/postDetailsControllerSpec.js
  frontend/test/specs/post/postPageControllerSpec.js
  frontend/test/specs/toolbar/defaultToolbarControllerSpec.js
  frontend/toolbar/defaultToolbar.component.js
  frontend/toolbar/default_toolbar_mobile.css
  frontend/toolbar/default_toolbar_mobile.html
Labels: Design, frontend

#1463 Pdf dialog mobile
  frontend/institution/base_institution_page_mobile.html
  frontend/institution/institutionController.js
  frontend/pdfUpload/pdfDialog.html
  frontend/pdfUpload/pdfDialogMobile.html
  frontend/pdfUpload/pdfService.js
  frontend/post/pdfViewDirective.js
Labels: Refact, frontend, mobile

#1458 Create page description institution on mobile
  frontend/app.js
  frontend/index.html
  frontend/institution/base_institution.css
  frontend/institution/base_institution_page_mobile.html
  frontend/institution/descriptionInst/descriptionController.js
  frontend/institution/descriptionInst/description_inst.css
  frontend/institution/descriptionInst/description_inst.html
  frontend/institution/descriptionInst/editDescriptionController.js
  frontend/institution/descriptionInst/edit_description.html
  frontend/institution/institutionController.js
  frontend/institution/institutionHeader.component.js
  frontend/institution/institution_header.html
  frontend/institution/timeline_inst.html
  frontend/test/specs/institution/editDescriptionControllerSpec.js
  frontend/toolbar/main_toolbar_mobile.html
  frontend/utils/hideNavbar.js
  frontend/utils/statesConstants.js
Labels: Design, frontend

#1464 Fix inst header navbar
  frontend/institution/base_institution.css
  frontend/institution/institution_header.html
Labels: bug, frontend, mobile

#1467 added window reload
  frontend/main/main.html
  frontend/main/mainController.js
  frontend/test/specs/main/mainControllerSpec.js
Labels: bug, frontend

#1466 Fix delete event redirect to events
  frontend/event/eventDetailsDirective.js
  frontend/institution/edit_registration_data_mobile.css
  frontend/test/specs/event/eventDetailsControllerSpec.js
Labels: bug, frontend

#1474 White toolbar component
  frontend/index.html
  frontend/institution/edit_registration_data.html
  frontend/institution/management_institution_page.html
  frontend/search/search.css
  frontend/search/search_mobile.html
  frontend/test/specs/toolbar/whiteToolbarControllerSpec.js
  frontend/toolbar/whiteToolbar.component.js
  frontend/toolbar/white_toolbar_mobile.css
  frontend/toolbar/white_toolbar_mobile.html
  frontend/user/configProfile/configProfileController.js
  frontend/user/configProfile/config_profile_mobile.html
Labels: Design, enhancement, frontend

#1476 Fix advanced institution search
  frontend/search/searchController.js
  frontend/search/search_mobile.html
  frontend/test/specs/search/searchControllerSpec.js
  frontend/user/searchInstitution/searchInstitution.component.js
Labels: bug, frontend

#1479 Refact generic dialog component
  frontend/pdfUpload/pdfService.js
  frontend/utils/generic-dialog/gen-dialog.component.js
  frontend/utils/generic-dialog/gen-dialog.html
Labels: Refact, frontend, mobile

#1468 Institutions events page redirect
  frontend/app.js
  frontend/event/event.css
  frontend/event/eventController.js
  frontend/event/events_mobile.html
  frontend/index.html
  frontend/institution/institutionController.js
  frontend/styles/custom.css
  frontend/test/specs/event/eventControllerSpec.js
  frontend/test/specs/institution/institutionControllerSpec.js
  frontend/utils/entityShowcase/entityShowcase.component.js
  frontend/utils/entityShowcase/entityShowcase.css
  frontend/utils/entityShowcase/entityShowcase.html
Labels: frontend, mobile

#1478 Add address form for new invite inst screen
  frontend/institution/forms/addressForm.component.js
  frontend/institution/forms/address_form.html
  frontend/institution/forms/forms.css
Labels: Design, frontend, mobile

#1481 Add last information form for new design invite screen
  frontend/institution/forms/forms.css
  frontend/institution/forms/lastInfoForm.component.js
  frontend/institution/forms/last_info_form.html
Labels: Design, frontend, mobile

#1473 Fix css of info admins
  frontend/institution/management_institution.css
  frontend/institution/management_members.html
Labels: bug, frontend

#1483 Entity showcase enhancement
  frontend/index.html
  frontend/utils/entityShowcase/entityShowcase.component.js
  frontend/utils/entityShowcase/entityShowcase.css
  frontend/utils/entityShowcase/entityShowcase.html
  frontend/utils/iconButton/iconButton.component.js
  frontend/utils/iconButton/iconButton.html
Labels: enhancement, frontend, mobile

#1485 Manage members search component
  frontend/index.html
  frontend/institution/managementMembersController.js
  frontend/institution/management_members_mobile.html
  frontend/styles/custom.css
  frontend/test/specs/institution/managementMembersControllerSpec.js
  frontend/utils/clickableCard/clickableCard.component.js
  frontend/utils/searchField/searchField.component.js
  frontend/utils/searchField/search_field.css
  frontend/utils/searchField/search_field.html
Labels: Design, frontend

#1486 Push notification permission on edit config profile
  .jshintrc
  backend/handlers/post_comment_handler.py
  backend/test/post_handlers_tests/post_comment_handler_test.py
  frontend/home/homeController.js
  frontend/main/mainController.js
  frontend/notification/pushNotificationService.js
  frontend/test/specs/home/homeControllerSpec.js
  frontend/test/specs/main/mainControllerSpec.js
  frontend/test/specs/notification/pushNotificationServiceSpec.js
  frontend/test/specs/user/configProfileControllerSpec.js
  frontend/user/configProfile/configProfileController.js
  frontend/user/configProfile/config_profile_mobile.css
  frontend/user/configProfile/config_profile_mobile.html
Labels: enhancement, frontend, mobile

#1488 Fix is-empty-card component text align
  frontend/utils/is-empty-card/is-empty-card.css
Labels: bug, frontend, mobile

#1490 Backend send email state
  backend/handlers/__init__.py
  backend/handlers/current_state_email_request_handler.py
  backend/main.py
  backend/send_email_hierarchy/__init__.py
  backend/send_email_hierarchy/request_state_email_sender.py
  backend/templates/request_state_email.html
Labels: backend, feature

#1495 Fix entityShowcase alligment and margin
  frontend/utils/entityShowcase/entityShowcase.css
  frontend/utils/iconButton/iconButton.html
Labels: bug, frontend
