Repository eciis/web, pull requests merged in 2019-03, with the labels that each got.

#1493 Edit expired event
  frontend/event/create_event.html
  frontend/event/eventDialogController.js
  frontend/event/event_dialog.html
  frontend/event/validateYoutubeLinkDirective.js
  frontend/index.html
Labels: bug, frontend

#1491 Manage institution menu
  frontend/app.js
  frontend/index.html
  frontend/institution/configInstitution/configInstDirective.js
  frontend/institution/configInstitution/edit_registration_data.html
  frontend/institution/configInstitution/edit_registration_data_mobile.css
  frontend/institution/configInstitution/submit_form.html
  frontend/institution/editInfo/edit_info.html
  frontend/institution/editInfo/edit_info_mobile.html
  frontend/institution/institutionHeader.component.js
  frontend/institution/manageInstMenu/manageInstMenuController.js
  frontend/institution/manageInstMenu/manage_institution_menu.css
  frontend/institution/manageInstMenu/manage_institution_menu.html
  frontend/institution/manageMembers/managementMembersController.js
  frontend/institution/manageMembers/management_members.html
  frontend/sideMenu/factories/homeItems.factory.js
  frontend/test/specs/institution/manageInstMenuControllerSpec.js
  frontend/toolbar/white_toolbar_mobile.css
  frontend/toolbar/white_toolbar_mobile.html
  frontend/user/user.js
  frontend/utils/statesConstants.js
Labels: Design, frontend, mobile

#1496 Fixed empty poll option on mobile larger screens
  frontend/survey/survey.component.js
  frontend/test/specs/survey/surveyComponentSpec.js
Labels: bug, frontend, mobile

#1494 Changing the way the search result is shown
  backend/search_module/search_institution.py
  frontend/institution/registeredInstitution.component.js
  frontend/search/search.css
  frontend/search/searchController.js
  frontend/search/search_dialog.html
  frontend/search/search_mobile.html
  frontend/test/specs/search/searchControllerSpec.js
Labels: Design, enhancement, frontend

#1498 Change webchat folder and files to be referenced as main
  webchat/app.js
  webchat/ecis.css
  webchat/index.html
  webchat/main/main.css
  webchat/main/main.html
  webchat/main/mainController.js
  webchat/webchat/webchat.html
  webchat/webchat/webchatController.js
Labels: Refact, enhancement, webchat

#1477 Manage members page for mobile
  frontend/app.js
  frontend/index.html
  frontend/institution/manageMembers/managementMembersController.js
  frontend/institution/manageMembers/management_members.html
  frontend/institution/manageMembers/management_members_mobile.css
  frontend/institution/manageMembers/management_members_mobile.html
  frontend/styles/custom.css
  frontend/test/specs/institution/managementMembersControllerSpec.js
  frontend/utils/clickableCard/clickableCard.component.js
  frontend/utils/clickableCard/clickable_card.css
  frontend/utils/clickableCard/clickable_card.html
  frontend/utils/entityShowcase/entityShowcase.component.js
  frontend/utils/entityShowcase/entityShowcase.html
  frontend/utils/searchField/searchField.component.js
  frontend/utils/searchField/search_field.css
  frontend/utils/searchField/search_field.html
Labels: Design, frontend

#1500 Redo enhance remove institution dialog
  frontend/institution/removeInstController.js
  frontend/institution/remove_inst_mobile.html
  frontend/sideMenu/factories/manageInstItems.factory.js
  frontend/test/specs/institution/removeInstControllerSpec.js
Labels: enhancement, frontend

#1501 Merge Responsive-dev
  frontend/app.js
  frontend/event/create_event.html
  frontend/event/eventDialogController.js
  frontend/event/event_dialog.html
  frontend/event/validateYoutubeLinkDirective.js
  frontend/index.html
  frontend/institution/configInstitution/configInstDirective.js
  frontend/institution/configInstitution/edit_registration_data.html
  frontend/institution/configInstitution/edit_registration_data_mobile.css
  frontend/institution/configInstitution/submit_form.html
  frontend/institution/editInfo/edit_info.html
  frontend/institution/editInfo/edit_info_mobile.html
  frontend/institution/institutionHeader.component.js
  frontend/institution/manageInstMenu/manageInstMenuController.js
  frontend/institution/manageInstMenu/manage_institution_menu.css
  frontend/institution/manageInstMenu/manage_institution_menu.html
  frontend/institution/manageMembers/managementMembersController.js
  frontend/institution/manageMembers/management_members.html
  frontend/institution/manageMembers/management_members_mobile.css
  frontend/institution/manageMembers/management_members_mobile.html
  frontend/institution/removeInstController.js
  frontend/institution/remove_inst_mobile.html
  frontend/sideMenu/factories/homeItems.factory.js
  frontend/sideMenu/factories/manageInstItems.factory.js
  frontend/styles/custom.css
  frontend/test/specs/institution/manageInstMenuControllerSpec.js
  frontend/test/specs/institution/managementMembersControllerSpec.js
  frontend/test/specs/institution/removeInstControllerSpec.js
  frontend/toolbar/white_toolbar_mobile.css
  frontend/toolbar/white_toolbar_mobile.html
  frontend/user/user.js
  frontend/utils/clickableCard/clickableCard.component.js
  frontend/utils/clickableCard/clickable_card.css
  frontend/utils/clickableCard/clickable_card.html
  frontend/utils/entityShowcase/entityShowcase.component.js
  frontend/utils/entityShowcase/entityShowcase.css
  frontend/utils/entityShowcase/entityShowcase.html
  frontend/utils/iconButton/iconButton.html
  frontend/utils/searchField/searchField.component.js
  frontend/utils/searchField/search_field.css
  frontend/utils/searchField/search_field.html
  frontend/utils/statesConstants.js
Labels: merge

#1508 Center no-events-feedback
  frontend/event/event.css
Labels: bug, frontend

#1480 Add institution data form for new design invite screen
  frontend/institution/forms/institutionForm.component.js
  frontend/institution/forms/institution_form.html
Labels: Design, frontend, mobile

#1509 Change "ministerio da saude" photo_url to firebase image on admin.py
  backend/admin.py
Labels: backend, bug

#1510 Fix all-day checkbox to not change when having an end date
  frontend/event/eventDialogController.js
Labels: bug, frontend

#1497 Frontend send email state
  frontend/email/EmailService.js
  frontend/email/stateLinkRequest/StateLinkRequestService.js
  frontend/email/stateLinkRequest/stateLinkConstants.js
  frontend/email/stateLinkRequest/stateLinkRequestDialog.html
  frontend/event/eventDialogController.js
  frontend/index.html
  frontend/institution/configInstitution/configInstDirective.js
  frontend/invites/inviteInstitutionController.js
  frontend/test/specs/event/eventDialogCtrlSpec.js
  frontend/test/specs/institution/configInstDirectiveSpec.js
  frontend/test/specs/invites/inviteInstitutionControllerSpec.js
Labels: feature, frontend, mobile

#1513 Fix share dialog
  frontend/event/eventDetailsDirective.js
  frontend/post/postDetailsDirective.js
  frontend/post/sharePostController.js
  frontend/post/share_post_dialog_mobile.html
Labels: Design, enhancement, frontend

#1517 Fix events page scroll
  frontend/event/events.html
Labels: bug, frontend

#1511 Improving events page mobile
  backend/handlers/event_collection_handler.py
  frontend/event/canceledEventHeader.component.js
  frontend/event/canceled_event_header.html
  frontend/event/event.css
  frontend/event/eventCard.component.js
  frontend/event/eventController.js
  frontend/event/event_card.html
  frontend/event/events_mobile.html
  frontend/index.html
  frontend/test/specs/event/canceledEventHeaderComponentSpec.js
  frontend/test/specs/event/eventCardComponentSpec.js
  frontend/test/specs/event/eventControllerSpec.js
Labels: Design, frontend

#1519 Send email state
  backend/handlers/__init__.py
  backend/handlers/current_state_email_request_handler.py
  backend/main.py
  backend/send_email_hierarchy/__init__.py
  backend/send_email_hierarchy/request_state_email_sender.py
  backend/templates/request_state_email.html
  frontend/email/EmailService.js
  frontend/email/stateLinkRequest/StateLinkRequestService.js
  frontend/email/stateLinkRequest/stateLinkConstants.js
  frontend/email/stateLinkRequest/stateLinkRequestDialog.html
  frontend/event/eventDialogController.js
  frontend/index.html
  frontend/institution/configInstitution/configInstDirective.js
  frontend/invites/inviteInstitutionController.js
  frontend/test/specs/event/eventDialogCtrlSpec.js
  frontend/test/specs/institution/configInstDirectiveSpec.js
  frontend/test/specs/invites/inviteInstitutionControllerSpec.js
Labels: feature, mobile

#1514 Create filter by institution in events page
  frontend/event/eventController.js
  frontend/event/events_mobile.html
  frontend/event/filterEvents/filterEventByInstitution.component.js
  frontend/event/filterEvents/filter_events_by_institution.css
  frontend/event/filterEvents/filter_events_by_institution.html
  frontend/index.html
  frontend/test/specs/event/eventControllerSpec.js
  frontend/test/specs/event/filterEvents/filterEventsByInstitutionControllerSpec.js
Labels: feature, frontend

#1499 Update dialogs according new design.
  frontend/index.html
  frontend/institution/manageMembers/managementMembersController.js
  frontend/institution/manageMembers/management_members_mobile.css
  frontend/institution/removeMemberDialog.html
  frontend/institution/transferAdminController.js
  frontend/institution/transfer_admin_dialog.html
  frontend/invites/inviteInstitutionController.js
  frontend/invites/new_invite.css
  frontend/invites/new_invite_page.html
  frontend/requests/requestProcessingController.js
  frontend/requests/request_user_dialog.css
  frontend/requests/request_user_dialog.html
  frontend/styles/custom.css
  frontend/utils/entityShowcase/entityShowcase.css
Labels: Design, frontend

#1521 Merge Responsive - dev
  backend/admin.py
  backend/handlers/__init__.py
  backend/handlers/current_state_email_request_handler.py
  backend/handlers/event_collection_handler.py
  backend/main.py
  backend/send_email_hierarchy/__init__.py
  backend/send_email_hierarchy/request_state_email_sender.py
  backend/templates/request_state_email.html
  frontend/email/EmailService.js
  frontend/email/stateLinkRequest/StateLinkRequestService.js
  frontend/email/stateLinkRequest/stateLinkConstants.js
  frontend/email/stateLinkRequest/stateLinkRequestDialog.html
  frontend/event/canceledEventHeader.component.js
  frontend/event/canceled_event_header.html
  frontend/event/event.css
  frontend/event/eventCard.component.js
  frontend/event/eventController.js
  frontend/event/eventDialogController.js
  frontend/event/event_card.html
  frontend/event/events_mobile.html
  frontend/event/filterEvents/filterEventByInstitution.component.js
  frontend/event/filterEvents/filter_events_by_institution.css
  frontend/event/filterEvents/filter_events_by_institution.html
  frontend/index.html
  frontend/institution/configInstitution/configInstDirective.js
  frontend/institution/manageMembers/managementMembersController.js
  frontend/institution/manageMembers/management_members_mobile.css
  frontend/institution/removeMemberDialog.html
  frontend/institution/transferAdminController.js
  frontend/institution/transfer_admin_dialog.html
  frontend/invites/inviteInstitutionController.js
  frontend/invites/new_invite.css
  frontend/invites/new_invite_page.html
  frontend/requests/requestProcessingController.js
  frontend/requests/request_user_dialog.css
  frontend/requests/request_user_dialog.html
  frontend/styles/custom.css
  frontend/test/specs/event/canceledEventHeaderComponentSpec.js
  frontend/test/specs/event/eventCardComponentSpec.js
  frontend/test/specs/event/eventControllerSpec.js
  frontend/test/specs/event/eventDialogCtrlSpec.js
  frontend/test/specs/event/filterEvents/filterEventsByInstitutionControllerSpec.js
  frontend/test/specs/institution/configInstDirectiveSpec.js
  frontend/test/specs/invites/inviteInstitutionControllerSpec.js
  frontend/utils/entityShowcase/entityShowcase.css
Labels: merge

#1520 Dialog request hierarchie
  frontend/index.html
  frontend/requests/analyseHierarchyRequestController.js
  frontend/requests/analyse_hierarchy_request.css
  frontend/requests/analyse_hierarchy_request_dialog.html
Labels: Design, frontend

#1525 Create shared post mobile
  frontend/index.html
  frontend/post/post_details.html
  frontend/post/share_post_dialog_mobile.html
  frontend/post/sharedPost.component.js
  frontend/post/shared_post.css
  frontend/post/shared_post_desktop.html
  frontend/post/shared_post_mobile.html
Labels: feature, frontend

#1522 Spread push notifications throughout the app
  backend/handlers/event_handler.py
  backend/handlers/institution_children_handler.py
  backend/handlers/institution_handler.py
  backend/handlers/institution_members_handler.py
  backend/handlers/institution_parent_handler.py
  backend/handlers/post_collection_handler.py
  backend/handlers/post_handler.py
  backend/handlers/reply_comment_handler.py
  backend/handlers/user_handler.py
  backend/handlers/user_institutions_handler.py
  backend/models/invite.py
  backend/push_notification/push_notification_service.py
  backend/test/event_handlers_tests/event_handler_test.py
  backend/test/institution_handlers_tests/institution_member_handler_test.py
  backend/test/institution_handlers_tests/institution_parent_handler_test.py
  backend/test/post_handlers_tests/post_collection_handler_test.py
  backend/test/post_handlers_tests/post_handler_test.py
  backend/test/post_handlers_tests/reply_comment_handler_test.py
  backend/test/user_handlers_tests/user_handler_test.py
  backend/test/user_handlers_tests/user_institutions_handler_test.py
Labels: backend, enhancement

#1526 Fix duplicated institutions on institutions page
  frontend/institution/allInstitutionsController.js
Labels: bug, frontend

#1523 Manage institution mobile page
  frontend/app.js
  frontend/index.html
  frontend/institution/manageInstitution/management_institution.css
  frontend/institution/manageInstitution/management_institution_mobile.css
  frontend/institution/manageInstitution/management_institution_mobile.html
  frontend/institution/manageInstitution/management_institution_page.html
  frontend/institution/manageMembers/management_members_mobile.html
  frontend/invites/inviteInstHierarchieController.js
  frontend/sideMenu/factories/manageInstItems.factory.js
  frontend/styles/custom.css
  frontend/test/specs/invites/inviteInstHierarchieControllerSpec.js
  frontend/utils/clickableCard/clickableCard.component.js
  frontend/utils/clickableCard/clickable_card.html
  frontend/utils/entityShowcase/entityShowcase.component.js
  frontend/utils/statesConstants.js
Labels: Design, frontend, mobile

#1529 Fix hide top toolbar when scroll
  frontend/utils/hideNavbar.js
Labels: bug, frontend

#1516 Add CreateInvitedInstitutionController
  frontend/app.js
  frontend/index.html
  frontend/institution/createInvitedInstitutionController.js
  frontend/institution/create_inst_form_mobile.css
  frontend/institution/create_inst_form_mobile.html
  frontend/institution/forms/address_form.html
  frontend/institution/forms/forms.css
  frontend/institution/forms/institution_form.html
  frontend/institution/forms/last_info_form.html
  frontend/test/specs/institution/createInvitedInstitutionSpec.js
Labels: Design, frontend, mobile

#1531 Add mobile invited institution prompt screen
  frontend/index.html
  frontend/institution/createInvitedInstitutionController.js
  frontend/institution/create_inst_form_mobile.css
  frontend/institution/forms/forms.css
  frontend/institution/forms/institution_form.html
  frontend/institution/forms/last_info_form.html
  frontend/invites/newInviteController.js
  frontend/invites/new_invite_mobile.css
  frontend/invites/new_invite_page.html
Labels: Design, frontend, mobile

#1536 Fix sidemenu shadow on events and event pages
  frontend/styles/custom.css
Labels: bug, frontend

#1534 Create shared events mobile
  frontend/event/sharedEvent.component.js
  frontend/event/shared_event.css
  frontend/event/shared_event_mobile.html
  frontend/index.html
  frontend/post/postDetailsDirective.js
  frontend/post/post_details.html
Labels: feature, frontend

#1530 Invites mobile page
  frontend/app.js
  frontend/index.html
  frontend/institution/manageMembers/managementMembersController.js
  frontend/invites/inviteInstHierarchieController.js
  frontend/invites/inviteInstitutionController.js
  frontend/invites/invite_institution_mobile.css
  frontend/invites/invite_institution_mobile.html
  frontend/test/specs/invites/inviteInstitutionControllerSpec.js
  frontend/test/specs/invites/suggestInstitutionControllerSpec.js
  frontend/utils/entityShowcase/entityShowcase.component.js
  frontend/utils/entityShowcase/entityShowcase.css
  frontend/utils/entityShowcase/entityShowcase.factory.js
  frontend/utils/entityShowcase/entityShowcase.html
Labels: Design, enhancement, frontend, mobile

#1538 Show events on institution page that user is not follower
  frontend/event/event.css
  frontend/event/eventController.js
  frontend/event/events_mobile.html
  frontend/test/specs/event/eventControllerSpec.js
Labels: bug, frontend

#1539 mobile dialog for pending invites
  frontend/index.html
  frontend/invites/inviteInstitutionController.js
  frontend/requests/requestProcessingController.js
  frontend/requests/request_institution_processing.html
  frontend/requests/request_institution_processing_mobile.css
  frontend/requests/request_institution_processing_mobile.html
  frontend/test/specs/invites/inviteInstitutionControllerSpec.js
  frontend/test/specs/request/requestProcessingControllerSpec.js
Labels: Design, frontend, mobile

#1537 Fix institution cover stretching on mobile
  frontend/institution/registered_institution.css
Labels: bug, frontend, mobile

#1535 Add mobile screen for invited institution creation
  frontend/app.js
  frontend/index.html
  frontend/institution/createInvitedInstitutionController.js
  frontend/institution/create_inst_form_mobile.css
  frontend/institution/create_inst_form_mobile.html
  frontend/institution/forms/addressForm.component.js
  frontend/institution/forms/address_form.html
  frontend/institution/forms/forms.css
  frontend/institution/forms/institutionForm.component.js
  frontend/institution/forms/institution_form.html
  frontend/institution/forms/lastInfoForm.component.js
  frontend/institution/forms/last_info_form.html
  frontend/invites/newInviteController.js
  frontend/invites/new_invite_mobile.css
  frontend/invites/new_invite_page.html
  frontend/test/specs/institution/createInvitedInstitutionSpec.js
Labels: Design, frontend, mobile

#1540 Merging push notifications
  backend/fcm.py
  backend/push_notification/push_notification_service.py
  backend/test/util_modules_tests/push_notification_service_test.py
  frontend/sw.js
Labels: backend, enhancement, frontend

#1533 Search events
  backend/admin.py
  backend/handlers/search_handler.py
  backend/main.py
  backend/models/event.py
  backend/search_module/__init__.py
  backend/search_module/search_event.py
  frontend/app.js
  frontend/event/eventCard.component.js
  frontend/event/eventService.js
  frontend/event/event_card.html
  frontend/event/events_mobile.html
  frontend/index.html
  frontend/search/search.css
  frontend/search/searchEventController.js
  frontend/search/search_event.html
  frontend/test/specs/toolbar/mainToolbarControllerSpec.js
  frontend/toolbar/mainToolbar.component.js
  frontend/toolbar/main_toolbar_mobile.html
  frontend/utils/statesConstants.js
Labels: backend, feature, frontend

#1542 Enable institution page for all devices
  backend/admin.py
Labels: backend, enhancement

#1546 Redesigning the modal to alert about existing institutions
  frontend/invites/existing_institutions_mobile.html
  frontend/invites/inviteInstitutionController.js
Labels: Design, frontend

#1545 Closes all chats on logout
  webchat/utils/chat.js
  webchat/utils/chatClient.js
Labels: bug, webchat

#1547 Fixing creation of posts with invalid link #1438
  frontend/post/postDirective.js
  frontend/post/save_post.html
  frontend/test/specs/post/postDirectiveSpec.js
Labels: bug, frontend
