Repository eciis/web, pull requests merged in 2019-01, with the labels that each got.

#1372 Fix blank page on safari
  frontend/notification/pushNotificationService.js
Labels: bug, mobile

#1374 Fix event test
  frontend/test/specs/event/eventDialogCtrlSpec.js
Labels: frontend

#1359 Create feature toggles
  backend/handlers/__init__.py
  backend/handlers/feature_toggle_handler.py
  backend/main.py
  backend/models/__init__.py
  backend/models/feature.py
  backend/test/feature_toggle_handler_tests/__init__.py
  backend/test/feature_toggle_handler_tests/feature_toggle_handler_test.py
  backend/test/model_test/feature_test.py
  frontend/app.js
  frontend/index.html
  frontend/test/specs/utils/featureToggleServiceSpec.js
  frontend/test/specs/utils/mapStateToFeatureServiceSpec.js
  frontend/utils/featureToggleService.js
  frontend/utils/mapStateToFeatureService.js
Labels: feature

#1375 Create ResetFeatureHandler in admin.py
  backend/admin.py
Labels: backend, feature, infrastructure

#1346 Add ui router support in webchat
  .jshintrc
  webchat/app.js
  webchat/auth/login.html
  webchat/auth/loginController.js
  webchat/chat/chat.html
  webchat/chat/chatController.js
  webchat/home/home.html
  webchat/home/homeController.js
  webchat/index.html
  webchat/libs/angular-ui-router.js
  webchat/webchat/webchat.html
  webchat/webchat/webchatController.js
Labels: frontend, webchat

#1363 Side menu component
  frontend/app.js
  frontend/home/homeController.js
  frontend/home/left_nav.html
  frontend/index.html
  frontend/institution/institutionController.js
  frontend/institution/management_institution_page.html
  frontend/main/mainController.js
  frontend/post/post_page.html
  frontend/sideMenu/factories/homeItems.factory.js
  frontend/sideMenu/factories/manageInstItems.factory.js
  frontend/sideMenu/sideMenu.component.js
  frontend/sideMenu/sideMenuConstants.js
  frontend/sideMenu/sideMenuItem/sideMenuItem.component.js
  frontend/sideMenu/sideMenuItem/side_menu_item.html
  frontend/sideMenu/side_menu.css
  frontend/sideMenu/side_menu.html
  frontend/test/specs/home/homeControllerSpec.js
  frontend/test/specs/institution/institutionControllerSpec.js
  frontend/test/specs/sideMenu/sideMenuComponentSpec.js
  frontend/test/specs/sideMenu/sideMenuItemComponentSpec.js
  frontend/user/left_nav.html
  frontend/user/user.js
  frontend/utils/utilsService.js
Labels: enhancement, frontend

#1379 Create feature toggles service auth
  feature-toggles/app.js
  feature-toggles/auth/authService.js
  feature-toggles/auth/login.css
  feature-toggles/auth/login.html
  feature-toggles/auth/loginController.js
  feature-toggles/firebase-config.js
  feature-toggles/icons/google-icon.svg
  feature-toggles/images/logowithname.png
  feature-toggles/index.html
  feature-toggles/signin/signin.html
  feature-toggles/signin/signinController.js
  feature-toggles/user/userFactory.js
  feature-toggles/user/userService.js
  feature-toggles/utils/httpService.js
  feature-toggles/utils/loadCircleDirective.js
  feature-toggles/utils/utils.js
Labels: feature, frontend

#1382 Webchat header
  webchat/auth/loginController.js
  webchat/chat/chatController.js
  webchat/components/header/ecis-header.component.js
  webchat/components/header/ecis-header.html
  webchat/components/icon-button/icon-button.component.js
  webchat/components/icon-button/icon-button.css
  webchat/components/icon-button/icon-button.html
  webchat/components/logo/logo.component.js
  webchat/components/logo/logo.css
  webchat/components/logo/logo.html
  webchat/components/user-description/user-description.component.js
  webchat/components/user-description/user-description.css
  webchat/components/user-description/user-description.html
  webchat/home/homeController.js
  webchat/images/logo-responsive.png
  webchat/images/logo.png
  webchat/images/logowithname.png
  webchat/images/plataformacis.png
  webchat/index.html
  webchat/styles/custom.css
  webchat/webchat/webchat.html
  webchat/webchat/webchatController.js
Labels: webchat

#1386 Fix bug on management institution options
  frontend/sideMenu/factories/homeItems.factory.js
Labels: bug, frontend

#1380 Redesign of members and followers page of an institution
  frontend/app.js
  frontend/index.html
  frontend/institution/followers_mobile.html
  frontend/institution/institutionController.js
  frontend/institution/listUsers.component.js
  frontend/institution/list_users.css
  frontend/institution/list_users.html
  frontend/institution/managementMembersController.js
  frontend/institution/members_mobile.html
  frontend/test/specs/institution/followersInstControllerSpec.js
  frontend/test/specs/institution/listUsersComponentSpec.js
  frontend/test/specs/institution/managementMembersControllerSpec.js
  frontend/utils/utils.js
Labels: Design, frontend

#1384 Webchat contacts list
  webchat/components/contacts/contacts.css
  webchat/components/contacts/list/contacts-list.component.js
  webchat/components/contacts/list/contacts-list.html
  webchat/components/contacts/sidenav/contacts-sidenav.component.js
  webchat/components/contacts/sidenav/contacts-sidenav.html
  webchat/components/contacts/toolbar/contacts-toolbar.component.js
  webchat/components/contacts/toolbar/contacts-toolbar.html
  webchat/components/expansive-search-bar/expansive-search-bar.component.js
  webchat/components/expansive-search-bar/expansive-search-bar.css
  webchat/components/expansive-search-bar/expansive-search-bar.html
  webchat/components/header/ecis-header.component.js
  webchat/components/header/ecis-header.html
  webchat/components/user-description/user-description.component.js
  webchat/components/user-description/user-description.html
  webchat/home/home.html
  webchat/home/homeController.js
  webchat/index.html
  webchat/services/NavbarManagementService.js
  webchat/services/WebchatService.js
  webchat/styles/custom.css
  webchat/utils/utils.js
  webchat/webchat/webchatController.js
Labels: webchat

#1392 Webchat yarn lock
  .gitignore
  webchat/test/yarn.lock
Labels: test, webchat

#1389 Create institution links mobile page
  frontend/app.js
  frontend/index.html
  frontend/institution/institutionalLinks/instLinks/instLinks.component.js
  frontend/institution/institutionalLinks/instLinks/inst_links.css
  frontend/institution/institutionalLinks/instLinks/inst_links.html
  frontend/institution/institutionalLinks/institutionLinksController.js
  frontend/institution/institutionalLinks/institutional_links.html
  frontend/institution/institutionalLinks/institutional_links_mobile.css
  frontend/institution/institutionalLinks/institutional_links_mobile.html
  frontend/test/specs/institution/institutionLinksControllerSpec.js
Labels: Design, frontend

#1393 merge responsive to dev
  frontend/app.js
  frontend/index.html
  frontend/institution/followers_mobile.html
  frontend/institution/institutionController.js
  frontend/institution/listUsers.component.js
  frontend/institution/list_users.css
  frontend/institution/list_users.html
  frontend/institution/managementMembersController.js
  frontend/institution/members_mobile.html
  frontend/test/specs/institution/followersInstControllerSpec.js
  frontend/test/specs/institution/listUsersComponentSpec.js
  frontend/test/specs/institution/managementMembersControllerSpec.js
  frontend/utils/utils.js
Labels: merge

#1387 Create feature manager service layout
  backend/admin.py
  backend/handlers/feature_toggle_handler.py
  backend/models/feature.py
  backend/test/feature_toggle_handler_tests/feature_toggle_handler_test.py
  backend/test/model_test/feature_test.py
  ecis
  feature-toggles/app.js
  feature-toggles/auth/authService.js
  feature-toggles/auth/loginController.js
  feature-toggles/index.html
  feature-toggles/manage/manage-toggles.css
  feature-toggles/manage/manage-toggles.html
  feature-toggles/manage/manageToggles.js
  feature-toggles/manage/manageTogglesController.js
  feature-toggles/manage/manageTogglesService.js
  feature-toggles/manage/permission-select.html
  feature-toggles/manage/permissionSelect.component.js
  feature-toggles/user/userFactory.js
  feature-toggles/utils/messageService.js
  feature-toggles/utils/statesConstants.js
Labels: feature, frontend

#1395 Create responsive layout to feature toggles service
  feature-toggles/index.html
  feature-toggles/manage/manage-toggles.css
  feature-toggles/manage/manage-toggles.html
  feature-toggles/manage/permission-select.html
  feature-toggles/manage/permission_select.css
Labels: feature, frontend

#1390 New design of profile to mobile devices
  frontend/index.html
  frontend/institution/followers_mobile.html
  frontend/institution/institutionController.js
  frontend/institution/listUsers.component.js
  frontend/institution/managementMembersController.js
  frontend/institution/members_mobile.html
  frontend/test/specs/institution/listUsersComponentSpec.js
  frontend/test/specs/user/profileControllerSpec.js
  frontend/test/specs/user/userProfileInfoComponentSpec.js
  frontend/user/profileController.js
  frontend/user/profileService.js
  frontend/user/profile_mobile.html
  frontend/user/userProfileInfo.component.js
  frontend/user/user_profile.css
  frontend/user/user_profile_info.css
  frontend/user/user_profile_info.html
Labels: Design, frontend

#1388 Create component institution header
  frontend/app.js
  frontend/index.html
  frontend/institution/base_institution.css
  frontend/institution/base_institution_page_mobile.html
  frontend/institution/institutionController.js
  frontend/institution/institutionHeader.component.js
  frontend/institution/institution_header.html
  frontend/institution/listUsers.component.js
  frontend/institution/list_users.html
  frontend/test/specs/event/eventDialogCtrlSpec.js
Labels: Design, frontend

#1391 Webchat view home
  webchat/app.js
  webchat/auth/loginController.js
  webchat/chat/chatController.js
  webchat/components/contacts/contacts.css
  webchat/components/contacts/list/contacts-list.component.js
  webchat/components/contacts/list/contacts-list.html
  webchat/components/contacts/sidenav/contacts-sidenav.component.js
  webchat/components/contacts/sidenav/contacts-sidenav.html
  webchat/components/contacts/toolbar/contacts-toolbar.component.js
  webchat/components/contacts/toolbar/contacts-toolbar.html
  webchat/components/expansive-search-bar/expansive-search-bar.component.js
  webchat/components/expansive-search-bar/expansive-search-bar.css
  webchat/components/expansive-search-bar/expansive-search-bar.html
  webchat/components/header/ecis-header.component.js
  webchat/components/header/ecis-header.html
  webchat/components/icon-button/icon-button.component.js
  webchat/components/icon-button/icon-button.css
  webchat/components/icon-button/icon-button.html
  webchat/components/logo/logo.component.js
  webchat/components/logo/logo.css
  webchat/components/logo/logo.html
  webchat/components/user-description/user-description.component.js
  webchat/components/user-description/user-description.css
  webchat/components/user-description/user-description.html
  webchat/ecis.css
  webchat/home/home.html
  webchat/home/homeController.js
  webchat/images/avatar.png
  webchat/images/logo-responsive.png
  webchat/images/logo.png
  webchat/images/plataformacis.png
  webchat/index.html
  webchat/services/NavbarManagementService.js
  webchat/services/WebchatService.js
  webchat/styles/custom.css
  webchat/test/specs/utils/utils.test.js
  webchat/utils/utils.js
  webchat/webchat/webchat.html
  webchat/webchat/webchatController.js
Labels: webchat

#1404 Refact ecis script
  ecis
  generate_config.sh
Labels: enhancement, infrastructure

#1399 Config profile page for mobile devices
  frontend/app.js
  frontend/index.html
  frontend/styles/custom.css
  frontend/user/configProfile/config-profile.css
  frontend/user/configProfile/configProfileController.js
  frontend/user/configProfile/config_profile.html
  frontend/user/configProfile/config_profile_mobile.css
  frontend/user/configProfile/config_profile_mobile.html
  frontend/user/profileController.js
  frontend/user/userProfileInfo.component.js
  frontend/utils/utils.js
Labels: Design, enhancement, frontend

#1403 Fix page reload when a new link is established
  frontend/main/mainController.js
  frontend/test/specs/event/eventDialogCtrlSpec.js
  frontend/test/specs/main/mainControllerSpec.js
Labels: bug, frontend
